{
  "openapi": "3.0.3",
  "info": {
    "title": "Периодические  переводы денежных средств с переменными реквизитами",
    "description": "Спецификация содержит описание элементов, которые являются общими для всех API на периодические  переводы денежных средств с переменными реквизитами (далее по тексту ППДС). В соответствии со стандартом ППДС Пользователь имеет право предоставить долгосрочное согласие на Услугу «Платежный сервис» СППУ с целью инициирования переводов средств от их имени, без необходимости аутентификации каждого отдельного платежа Пользователем у ППИУ. При этом ППИУ и СППУ реализуют взаимодействие для осуществления ППДС используя API.",
    "version": "1.3.0"
  },
  "servers": [
    {
      "url": "https://api.bankingapi.ru/extapi/aft/vrp/hackathon/v1",
      "description": "Адрес API в песочнице хакатона"
    }
  ],
  "paths": {
    "/vrp-consents": {
      "post": {
        "operationId": "CreateVRPConsent",
        "tags": [
          "VRP Consent"
        ],
        "summary": "Создание Согласия на инициирование",
        "description": "Создание и установка Согласия на инициирование с требуемыми параметрами контроля и повторяющимися реквизитами платежного распоряжения",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-fapi-auth-date"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id"
          },
          {
            "$ref": "#/components/parameters/x-idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-jws-signature"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent"
          }
        ],
        "requestBody": {
          "description": "Запрос создания ресурса Согласия на инициирование",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VRPConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201VRPConsentCreated"
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "403": {
            "$ref": "#/components/responses/403Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "405": {
            "$ref": "#/components/responses/405Error"
          },
          "406": {
            "$ref": "#/components/responses/406Error"
          },
          "429": {
            "$ref": "#/components/responses/429Error"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "TPPPaymentOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/vrp-consents/{consentId}": {
      "get": {
        "operationId": "GetVRPConsentConsentId",
        "tags": [
          "VRP Consent"
        ],
        "summary": "Получение ресурса Согласия на инициирование",
        "description": "Получение информации о состоянии Согласия на инициирование по его идентификатору",
        "parameters": [
          {
            "$ref": "#/components/parameters/consentId"
          },
          {
            "$ref": "#/components/parameters/x-fapi-auth-date"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200GetVRPConsentId"
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "403": {
            "$ref": "#/components/responses/403Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "405": {
            "$ref": "#/components/responses/405Error"
          },
          "406": {
            "$ref": "#/components/responses/406Error"
          },
          "429": {
            "$ref": "#/components/responses/429Error"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "TPPPaymentOAuth2Security": [
              "payments"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "DeleteVRPConsentsConsentId",
        "tags": [
          "VRP Consent"
        ],
        "summary": "Отзыв Согласия на инициирование",
        "description": "Конечная точка позволяет СППУ удалять ресурс Согласия на инициирование",
        "parameters": [
          {
            "$ref": "#/components/parameters/consentId"
          },
          {
            "$ref": "#/components/parameters/x-fapi-auth-date"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204Deleted"
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "403": {
            "$ref": "#/components/responses/403Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "405": {
            "$ref": "#/components/responses/405Error"
          },
          "406": {
            "$ref": "#/components/responses/406Error"
          },
          "429": {
            "$ref": "#/components/responses/429Error"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "TPPPaymentOAuth2Security": [
              "account"
            ]
          }
        ]
      }
    },
    "/vrp-consents/{consentId}/funds-confirmation": {
      "post": {
        "operationId": "CreateVRPConsentConsentIdFundsConfirmations",
        "tags": [
          "VRP Payments"
        ],
        "summary": "Создание Подтверждения наличия необходимого количества средств",
        "description": "Запрос наличия необходимого количества средств на счете Плательщика, который связан с Согласием на инициирование",
        "parameters": [
          {
            "$ref": "#/components/parameters/consentId"
          },
          {
            "$ref": "#/components/parameters/x-fapi-auth-date"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id"
          },
          {
            "$ref": "#/components/parameters/x-jws-signature"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent"
          }
        ],
        "requestBody": {
          "description": "Запрос создания ресурса подтверждения наличия средств",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VRPFundsConfirmationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201FundsConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "403": {
            "$ref": "#/components/responses/403Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "405": {
            "$ref": "#/components/responses/405Error"
          },
          "406": {
            "$ref": "#/components/responses/406Error"
          },
          "429": {
            "$ref": "#/components/responses/429Error"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "TPPPaymentOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/vrp-payments": {
      "post": {
        "operationId": "CreateVRP",
        "tags": [
          "VRP Payments"
        ],
        "summary": "Инициирование платежа",
        "description": "Конечная точка используется для подтверждения инициирования проведения платежа",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-fapi-auth-date"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id"
          },
          {
            "$ref": "#/components/parameters/x-idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-jws-signature"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VRPRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201VRPCreated"
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "403": {
            "$ref": "#/components/responses/403Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "405": {
            "$ref": "#/components/responses/405Error"
          },
          "406": {
            "$ref": "#/components/responses/406Error"
          },
          "429": {
            "$ref": "#/components/responses/429Error"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "TPPPaymentOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/vrp-payments/{VRPId}": {
      "get": {
        "operationId": "GetVRPVRPId",
        "tags": [
          "VRP Payments"
        ],
        "summary": "Получение ресурса  перевода денежных средств с указанием его состояния",
        "description": "Получение информацию о состоянии исполнения  перевода денежных средств по его идентификатору",
        "parameters": [
          {
            "$ref": "#/components/parameters/VRPId"
          },
          {
            "$ref": "#/components/parameters/x-fapi-auth-date"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200GetVRP"
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "403": {
            "$ref": "#/components/responses/403Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "405": {
            "$ref": "#/components/responses/405Error"
          },
          "406": {
            "$ref": "#/components/responses/406Error"
          },
          "429": {
            "$ref": "#/components/responses/429Error"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "TPPPaymentOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    },
    "/vrp-payments/{VRPId}/payment-details": {
      "get": {
        "tags": [
          "VRP Payment Details"
        ],
        "summary": "Детальное описание состояния ресурса  перевода денежных средств",
        "description": "Детальное описание состояния ресурса  перевода денежных средств по его идентификатору",
        "operationId": "GetVRPVRPIDPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/VRPId"
          },
          {
            "$ref": "#/components/parameters/x-fapi-auth-date"
          },
          {
            "$ref": "#/components/parameters/x-fapi-customer-ip-address"
          },
          {
            "$ref": "#/components/parameters/x-fapi-interaction-id"
          },
          {
            "$ref": "#/components/parameters/x-customer-user-agent"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200GetPaymentDetailsRead"
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "403": {
            "$ref": "#/components/responses/403Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "405": {
            "$ref": "#/components/responses/405Error"
          },
          "406": {
            "$ref": "#/components/responses/406Error"
          },
          "429": {
            "$ref": "#/components/responses/429Error"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "TPPPaymentOAuth2Security": [
              "payments"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TPPPaymentOAuth2Security": {
        "type": "oauth2",
        "description": "Сторонний поставщик использует поток авторизации сlient сredentional для доступа к рескрсам ППИУ",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://bank.ru/oapi-channel/tokenUrl",
            "scopes": {
              "payments": "Возможность проведения платежа"
            }
          }
        }
      },
      "PSUPaymentOAuth2Security": {
        "type": "oauth2",
        "description": "Поток авторизации, требующий получения Сторонним поставщиком авторизации конечного Пользователя на доступ к ресурсам на сервере авторизации ППИУ.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://bank.ru/oapi-channel/authorize",
            "tokenUrl": "https://bank.ru/oapi-channel/token",
            "scopes": {
              "payments": "Возможность проведения платежа"
            }
          }
        }
      }
    },
    "parameters": {
      "x-fapi-auth-date": {
        "in": "header",
        "name": "x-fapi-auth-date",
        "schema": {
          "type": "string"
        },
        "required": false,
        "description": "Время последнего входа Пользователя в систему с TPP. Значение предоставляется в виде HTTP-date, как в разделе 7.1.1.1 [RFC7231]. Например, x-fapi-auth-date: Mon, 26 Aug 2019 12:23:11 GMT",
        "example": "Mon, 26 Aug 2019 12:23:11 GMT"
      },
      "x-fapi-customer-ip-address": {
        "in": "header",
        "name": "x-fapi-customer-ip-address",
        "schema": {
          "type": "string"
        },
        "required": false,
        "description": "IP-адрес Пользователя, если Пользователь в данный момент подключен к Стороннему Поставщику (залогинен в приложении Стороннего Поставщика)."
      },
      "x-fapi-interaction-id": {
        "in": "header",
        "name": "x-fapi-interaction-id",
        "schema": {
          "type": "string"
        },
        "required": false,
        "description": "RFC4122 UID, используемый в качестве идентификатора корреляции. Если необходимо, то ППИУ передает обратно значение идентификатора корреляции в заголовке ответа x-fapi-interaction-id."
      },
      "x-idempotency-key": {
        "name": "x-idempotency-key",
        "in": "header",
        "description": "Не стандартный HTTP заголовок. Уникальный идентификатор запроса для поддержки идемпотентности. Обязательно для запросов POST к конечным точкам идемпотентного ресурса. Для других запросов не указывается.",
        "required": false,
        "schema": {
          "type": "string",
          "pattern": "^(?!\\s)(.*)(\\S)$",
          "maxLength": 40
        }
      },
      "x-jws-signature": {
        "name": "x-jws-signature",
        "in": "header",
        "required": false,
        "description": "Отделяемая подпись полезной нагрузки в формате JWS",
        "schema": {
          "type": "string"
        }
      },
      "x-customer-user-agent": {
        "in": "header",
        "name": "x-customer-user-agent",
        "schema": {
          "type": "string"
        },
        "description": "В заголовке указывается тип устройства (user-agent), который использует Пользователь. Сторонний Поставщик может заполнить это поле значением типа устройства (user-agent), указанным Пользователем. Если Пользователь использует мобильное приложение Стороннего Поставщика, Сторонний Поставщик проверяет, что строка типа устройства (user-agent) отличается от строки типа устройства (user-agent) на основе браузера.",
        "required": false,
        "example": ""
      },
      "consentId": {
        "description": "Идентификатор ресурса согласия",
        "name": "consentId",
        "in": "path",
        "required": true,
        "schema": {
          "description": "Идентификатор ресурса согласия, присвоенный на стороне Стороннего поставщика",
          "type": "string",
          "maxLength": 128
        }
      },
      "VRPId": {
        "name": "VRPId",
        "in": "path",
        "required": true,
        "schema": {
          "description": "идентификатор ресурса  перевода денежных средств, созданный на стороне ППИУ",
          "type": "string",
          "maxLength": 128
        }
      }
    },
    "schemas": {
      "ActiveCurrencyAndAmountSimpleType": {
        "description": "Сумма денежных средств",
        "type": "string",
        "pattern": "^\\d{1,13}\\.\\d{2}",
        "example": "200.00"
      },
      "ActiveOrHistoricCurrencyCode": {
        "description": "Код валюты, соответствующий международного стандарта ISO 4217",
        "type": "string",
        "pattern": "^[A-Z]{3,3}",
        "example": "RUB"
      },
      "ActiveOrHistoricCurrencyAndAmount": {
        "description": "Сумма денежных средств и код валюты",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "amount": {
            "description": "Сумма денежных средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/ActiveCurrencyAndAmountSimpleType"
              }
            ]
          },
          "currency": {
            "description": "Код валюты, соответствующий международного стандарта ISO 4217",
            "allOf": [
              {
                "$ref": "#/components/schemas/ActiveOrHistoricCurrencyCode"
              }
            ]
          }
        },
        "required": [
          "amount",
          "currency"
        ]
      },
      "PeriodicLimits": {
        "description": "Максимальная сумма, которая может быть указана во всех платежных инструкциях за определенный период в соответствии с Согласием на инициирование. Если период является календарным, то в первом периоде ограничение пропорционально оставшемуся количеству дней",
        "type": "array",
        "items": {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "periodType",
            "periodAlignment",
            "Amount"
          ],
          "properties": {
            "periodType": {
              "type": "string",
              "enum": [
                "Day",
                "Week",
                "Fortnight",
                "Month",
                "Half-year",
                "Year"
              ],
              "description": "Тип периода установки ограничения"
            },
            "periodAlignment": {
              "type": "string",
              "enum": [
                "Consent",
                "Calendar"
              ],
              "description": "Определяет привязку периода либо к началу действия Согласия на инициирование, либо к календарным датам"
            },
            "Amount": {
              "description": "Сумма средств и код валюты",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ActiveOrHistoricCurrencyAndAmount"
                }
              ]
            }
          }
        }
      },
      "VRPControlParameters": {
        "description": "Установленные Пользователем при предоставлении Согласия на инициирование ограничения, используемые ППИУ для контроля реквизитов платежного распоряжения при инициирование периодических переводов средств",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "VRPType"
        ],
        "properties": {
          "validFromDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "Дата и время начала срока действия Согласия на инициирование. Если элемент не представлен, датой и временем начала срока действия согласия будет считаться дата и время авторизации кго Пользователем | ISODateTime"
          },
          "validToDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "Дата и время истечения срока действия Согласия на инициирование. Если элемент не представлен, Согласие будет с открытой датой | ISODateTime"
          },
          "MaximumIndividualAmount": {
            "type": "object",
            "description": "Максимальная сумма единичного  перевода денежных средств",
            "additionalProperties": false,
            "allOf": [
              {
                "$ref": "#/components/schemas/ActiveOrHistoricCurrencyAndAmount"
              }
            ]
          },
          "PeriodicLimits": {
            "description": "Максимальная сумма, которая может быть указана во всех платежных инструкциях за определенный период в соответствии с Согласием на инициирование. Если период является календарным, то в первом периоде ограничение пропорционально оставшемуся количеству дней",
            "allOf": [
              {
                "$ref": "#/components/schemas/PeriodicLimits"
              }
            ]
          },
          "VRPType": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Типы переводов средств, которые могут быть произведены в соответствии с настоящим Согласием на инициирование. | OBVRPConsentType - Namespaced Enumeration"
          },
          "PSUAuthenticationMethods": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Указывает, какой метод аутентификации Пользователя приемлем при инициации ППДС, которые связанны с данным Согласием на инициирование | VRPAuthenticationMethods"
          },
          "SupplementaryData": {
            "type": "object",
            "additionalProperties": false,
            "description": "Дополнительная информация, которая не может быть записана в структурированных полях и/или в любом другом определенном блоке"
          }
        }
      },
      "AccountIdentificationCode": {
        "description": "Схема идентификации счета",
        "type": "string",
        "enum": [
          "RU.CBR.BBAN",
          "RU.CBR.EPID",
          "RU.CBR.ORID",
          "RU.CBR.PAN",
          "RU.CBR.MTEL"
        ],
        "example": "RU.CBR.BBAN"
      },
      "CashAccount": {
        "description": "Идентификация счета",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "description": "Наименование счета, присвоенное учреждением, обслуживающим счет, по согласованию с владельцем счета  для обеспечения дополнительных средств идентификации счета",
            "type": "string",
            "maxLength": 70,
            "example": "Основной счет"
          },
          "schemeName": {
            "description": "Наименование схемы идентификации счета",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccountIdentificationCode"
              }
            ]
          },
          "identification": {
            "description": "Идентификатор счета соответствующий схеме идентификации, известный владельцу счета (номер банковского счета, номер карты, номер телефона ...)",
            "type": "string",
            "maxLength": 256,
            "example": 40817810621234570000
          }
        },
        "required": [
          "schemeName",
          "identification"
        ]
      },
      "FinancialInstitutionIdentificationCode": {
        "description": "Схема идентификации финансового учреждения",
        "type": "string",
        "maxLength": 35,
        "enum": [
          "RU.CBR.BICFI",
          "RU.CBR.BIC"
        ]
      },
      "BranchAndFinancialInstitutionIdentification": {
        "description": "Идентификация финансового учреждения",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "schemeName": {
            "description": "Наименование идентификационной схемы финансового учереждения",
            "allOf": [
              {
                "$ref": "#/components/schemas/FinancialInstitutionIdentificationCode"
              }
            ],
            "example": "RU.CBR.BIC"
          },
          "identification": {
            "description": "Банковский идентификационный код (БИК) или другой идентификатор финансового учереждения",
            "type": "string",
            "maxLength": 35,
            "example": 9612123
          }
        },
        "required": [
          "schemeName",
          "identification"
        ]
      },
      "CountryCode": {
        "description": "Код страны",
        "type": "string",
        "pattern": "^[A-Z]{2,2}",
        "example": "RU"
      },
      "ISODateTime": {
        "description": "Формат даты и времени",
        "type": "string",
        "format": "date-time",
        "example": "2021-06-05T15:15:13+00:00"
      },
      "PartyIdentificationCode": {
        "description": "Схема идентификации юридического или физического лица",
        "type": "string",
        "maxLength": 35,
        "enum": [
          "RU.CBR.TXID",
          "RU.CBR.LEI",
          "RU.CBR.PASP",
          "RU.CBR.CLID",
          "RU.CBR.QRST",
          "RU.CBR.TAXT",
          "RU.CBR.OGRN"
        ]
      },
      "IdentificationType": {
        "description": "Идентификация юридического или физического лица",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "schemeName": {
            "description": "Наименование идентификационной схемы юридического или физического лица",
            "allOf": [
              {
                "$ref": "#/components/schemas/PartyIdentificationCode"
              }
            ],
            "example": "RU.CBR.TXID"
          },
          "identification": {
            "description": "Уникальный и однозначный идентификатор участника, присвоенный идентифицирующей организацией.",
            "type": "string",
            "maxLength": 35,
            "example": 7728240240
          }
        },
        "required": [
          "schemeName",
          "identification"
        ]
      },
      "AddressTypeCode": {
        "description": "Тип адреса",
        "type": "string",
        "example": "DeliveryTo",
        "enum": [
          "Business",
          "Correspondence",
          "DeliveryTo",
          "MailTo",
          "POBox",
          "Postal",
          "Residential",
          "Statement"
        ]
      },
      "PostalAddress": {
        "description": "Почтовый адрес",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "addressType": {
            "description": "Тип адреса",
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressTypeCode"
              }
            ],
            "example": "DeliveryTo"
          },
          "addressLine": {
            "description": "Строка адреса",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 70
            },
            "minItems": 0,
            "maxItems": 2
          },
          "streetName": {
            "description": "Наименование улицы или проспекта",
            "type": "string",
            "maxLength": 70,
            "example": "Садовая"
          },
          "buildingNumber": {
            "description": "Номер, который определяет положение здания на улице",
            "type": "string",
            "maxLength": 16,
            "example": "11"
          },
          "postCode": {
            "description": "Почтовый индекс",
            "type": "string",
            "maxLength": 16,
            "example": "0100010"
          },
          "townName": {
            "description": "Наименование населённого пункта или территории, находящейся вне границ поселений",
            "type": "string",
            "maxLength": 35,
            "example": "Бигсити"
          },
          "countrySubDivision": {
            "description": "Наименование и тип субъекта Российской Федерации",
            "type": "string",
            "maxLength": 35,
            "example": "Мой край"
          },
          "country": {
            "description": "Название страны в кодированной форме",
            "allOf": [
              {
                "$ref": "#/components/schemas/CountryCode"
              }
            ],
            "example": "RU"
          }
        }
      },
      "PartyIdentification": {
        "description": "Информация об участнике, используемая для идентификации юридического или физического лица",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "description": "Наименование организации или имя физического лица",
            "type": "string",
            "maxLength": 160,
            "example": "Наименование организации или физического лица"
          },
          "mobileNumber": {
            "description": "Номер мобильного телефона",
            "type": "string",
            "maxLength": 15,
            "example": 79206001010
          },
          "countryOfResidence": {
            "description": "Страна проживания",
            "allOf": [
              {
                "$ref": "#/components/schemas/CountryCode"
              }
            ],
            "example": "RU"
          },
          "countryOfBirth": {
            "description": "Место рождения (страна)",
            "allOf": [
              {
                "$ref": "#/components/schemas/CountryCode"
              }
            ],
            "example": "RU"
          },
          "provinceOfBirth": {
            "description": "Место рождения (область).",
            "type": "string",
            "maxLength": 35,
            "example": "Ставрапольский край"
          },
          "cityOfBirth": {
            "description": "Место рождения (город).",
            "type": "string",
            "maxLength": 35,
            "example": "Ставраполь"
          },
          "birthDate": {
            "description": "Дата рождения.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ISODateTime"
              }
            ]
          },
          "Identification": {
            "description": "Идентификация юридического или физического лица.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/IdentificationType"
                }
              ]
            },
            "minItems": 1
          },
          "PostalAddress": {
            "description": "Почтовый адрес",
            "allOf": [
              {
                "$ref": "#/components/schemas/PostalAddress"
              }
            ],
            "minItems": 0
          }
        },
        "required": [
          "name",
          "Identification"
        ]
      },
      "CreditorReferenceInformation": {
        "type": "object",
        "description": "Информация о референсах, предоставленная получателем денежных средств, позволяющая идентифицировать исходные документы.",
        "additionalProperties": false,
        "properties": {
          "type": {
            "description": "Тип идентификатора платежа (Номер реквизита 15.6.n)",
            "type": "string",
            "maxLength": 35,
            "example": "ИПД"
          },
          "reference": {
            "description": "Значение идентификатора платежа (Номер реквизита 15.7.n). Ссылка, присвоенная получателем денежных средств, которая является основанием для осуществления перевода",
            "type": "string",
            "maxLength": 35,
            "example": "CBR-130"
          }
        }
      },
      "TaxParty": {
        "description": "Налоговая информация об участнике перевода денежных средств",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "taxType": {
            "description": "Код причины постановки на учет (КПП)",
            "type": "string",
            "maxLength": 9,
            "pattern": "^\\d{9}$",
            "example": 991230001
          },
          "registrationIdentification": {
            "description": "Реквизит 107. Код таможенного органа (Поле заполняется для распоряжений по уплате таможенных платежей)",
            "type": "string",
            "maxLength": 35
          }
        }
      },
      "TaxRecordPeriodCode": {
        "description": "Тип налогового периода (реквизит 107)",
        "type": "string",
        "example": "MM02",
        "enum": [
          "MM01",
          "MM02",
          "MM03",
          "MM04",
          "MM05",
          "MM06",
          "MM07",
          "MM08",
          "MM09",
          "MM10",
          "MM11",
          "MM12",
          "QTR1",
          "QTR2",
          "QTR3",
          "QTR4",
          "HLF1",
          "HLF2"
        ]
      },
      "TaxPeriod": {
        "description": "Налоговый период",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "year": {
            "description": "Год, к которому относится налог",
            "type": "string",
            "pattern": "([1-9][0-9]{3,}|0[0-9]{3})-01-01",
            "example": "2021-01-01"
          },
          "type": {
            "description": "Тип налогового периода (реквизит 107)",
            "allOf": [
              {
                "$ref": "#/components/schemas/TaxRecordPeriodCode"
              }
            ],
            "example": "MM02"
          },
          "fromDate": {
            "description": "Дата уплаты налогового платежа",
            "allOf": [
              {
                "$ref": "#/components/schemas/ISODateTime"
              }
            ]
          },
          "toDate": {
            "description": "Дата уплаты налогового платежа",
            "allOf": [
              {
                "$ref": "#/components/schemas/ISODateTime"
              }
            ]
          }
        }
      },
      "CBRFTaxRate": {
        "description": "Процентная ставка НДС",
        "type": "string",
        "pattern": "^\\d{1,2}$",
        "example": 20
      },
      "TaxAmount": {
        "description": "Информация о НДС ",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "rate": {
            "description": "Ставка НДС (Номер реквизита 14.3)",
            "allOf": [
              {
                "$ref": "#/components/schemas/CBRFTaxRate"
              }
            ],
            "example": 20
          },
          "totalAmount": {
            "description": "Сумма НДС (Номер реквизита 14.4)",
            "allOf": [
              {
                "$ref": "#/components/schemas/ActiveCurrencyAndAmountSimpleType"
              }
            ],
            "example": 10
          }
        }
      },
      "TaxRecord": {
        "description": "Дополнительные налоговые реквизиты",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "description": "Реквизит 110. Код выплат",
            "type": "string",
            "maxLength": 35
          },
          "category": {
            "description": "Реквизит 106. Основание налогового платежа",
            "type": "string",
            "maxLength": 35,
            "example": "TP"
          },
          "categoryDetails": {
            "description": "Код бюджетной классификации",
            "type": "string",
            "maxLength": 35,
            "example": 18210301000011000000
          },
          "debtorStatus": {
            "description": "Статус налогоплательщика",
            "type": "string",
            "maxLength": 35,
            "example": 13
          },
          "Period": {
            "description": "(Номер реквизита 14.2) Налоговый период",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/TaxPeriod"
                }
              ]
            },
            "minItems": 0
          },
          "TaxAmount": {
            "type": "object",
            "additionalProperties": false,
            "description": "Информация о НДС",
            "allOf": [
              {
                "$ref": "#/components/schemas/TaxAmount"
              }
            ]
          }
        }
      },
      "TaxInformation": {
        "description": "Налоговая информация",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "administrationZone": {
            "description": "Реквизит 105. Код по Общероссийскому классификатору территорий муниципальных образований ОКТМО",
            "type": "string",
            "maxLength": 11,
            "pattern": "^\\d{1,11}$",
            "example": 45388000
          },
          "referenceNumber": {
            "description": "Реквизит 108. Номер налогового документа",
            "type": "string",
            "maxLength": 140,
            "example": 0
          },
          "date": {
            "description": "Реквизит 109. Дата налогового документа",
            "allOf": [
              {
                "$ref": "#/components/schemas/ISODateTime"
              }
            ]
          },
          "creditor": {
            "description": "Налоговая информация о получателе средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/TaxParty"
              }
            ]
          },
          "debtor": {
            "description": "Налоговая информация о плательщике",
            "allOf": [
              {
                "$ref": "#/components/schemas/TaxParty"
              }
            ]
          },
          "Record": {
            "description": "Дополнительные налоговые реквизиты",
            "allOf": [
              {
                "$ref": "#/components/schemas/TaxRecord"
              }
            ]
          }
        }
      },
      "RemittanceInformation": {
        "description": "Назначение платежа. Предоставляемая информация, позволяющая сопоставить запись с позициями, для которых предназначен перевод",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "unstructured": {
            "description": "Текстовое назначение платежа",
            "type": "string",
            "maxLength": 140,
            "example": "Назначение платежа - оплата за товары или услуги"
          },
          "CreditorReferenceInformation": {
            "description": "Информация от получателя  денежных средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/CreditorReferenceInformation"
              }
            ]
          },
          "TaxRemittance": {
            "description": "Информация о платеже, которая связана с оплатой налогов",
            "allOf": [
              {
                "$ref": "#/components/schemas/TaxInformation"
              }
            ]
          }
        },
        "required": [
          "unstructured"
        ]
      },
      "VRPInitiation": {
        "description": "Реквизиты платежного распоряжения, которые должны быть привязаны к Согласию на инициирование и оставаться неизменными для каждого ППДС",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "DebtorAccount": {
            "description": "Уникальная идентификация счета плательщика, на котором будет сделана дебетовая запись в результате платежной операции",
            "allOf": [
              {
                "$ref": "#/components/schemas/CashAccount"
              }
            ]
          },
          "CreditorAgent": {
            "description": "Финансовое организация, обслуживающая счет получателя средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/BranchAndFinancialInstitutionIdentification"
              }
            ]
          },
          "CreditorAccount": {
            "description": "Идентификатор счета получателя средств, на котором будет проведена запись о кредите в результате платежной операции",
            "allOf": [
              {
                "$ref": "#/components/schemas/CashAccount"
              }
            ]
          },
          "CreditorAgentAccount": {
            "description": "Однозначная идентификация счета банка получателя средств у обслуживающего его банка, по которому будет выполнена кредитовая запись в результате платежной операции",
            "allOf": [
              {
                "$ref": "#/components/schemas/CashAccount"
              }
            ]
          },
          "Creditor": {
            "description": "Получатель средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/PartyIdentification"
              }
            ]
          },
          "RemittanceInformation": {
            "description": "Информация, предоставляемая для обеспечения квитовки с позициями, которые должен обеспечить перевод, например, коммерческий счет коммерческие счета, по которым ведется учет в системе ожидаемых поступлений",
            "allOf": [
              {
                "$ref": "#/components/schemas/RemittanceInformation"
              }
            ]
          }
        }
      },
      "PaymentContextCode": {
        "description": "Контекст проведения платежа",
        "type": "string",
        "enum": [
          "BillPayment",
          "EcommerceGoods",
          "EcommerceServices",
          "Other"
        ]
      },
      "Risk": {
        "description": "Объект Risk отправляется инициатором платежа в ППИУ, используется для указания дополнительных деталей для оценки рисков при проведении платежей",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "paymentContextCode": {
            "description": "Контекст проведения платежа",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentContextCode"
              }
            ]
          },
          "merchantCategoryCode": {
            "description": "Код категории соответствует ISO 18245 и относится к типу услуг или товаров, которые продавец предоставляет для транзакции",
            "type": "string",
            "pattern": "^\\d{3,4}$"
          },
          "merchantCustomerIdentification": {
            "description": "Уникальный идентификатор покупателя, который продавец присвоил Пользователю",
            "type": "string",
            "maxLength": 70
          },
          "DeliveryAddress": {
            "description": "Почтовый адрес",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PostalAddress"
                }
              ],
              "minItems": 0
            }
          }
        }
      },
      "VRPConsentRequest": {
        "description": "Запрос Согласия на инициирование",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Data": {
            "type": "object",
            "description": "Полезная нагрузка запроса Согласия на инициирование",
            "additionalProperties": false,
            "required": [
              "ControlParameters",
              "Initiation"
            ],
            "properties": {
              "ControlParameters": {
                "description": "Параметры контроля при проведении ППДС",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VRPControlParameters"
                  }
                ]
              },
              "Initiation": {
                "description": "Постоянные реквизиты платежного распоряжения",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VRPInitiation"
                  }
                ]
              },
              "readRefundAccount": {
                "description": "Указывает, требуется ли возвращать счет для возврата денежных средств в ответе при создание ресурса ППДС",
                "type": "string",
                "enum": [
                  "Yes",
                  "No"
                ]
              }
            }
          },
          "Risk": {
            "description": "Раздел Risk отправляется инициатором в ППИУ и используется для указания дополнительных деталей оценки рисков при  переводе денежных средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/Risk"
              }
            ]
          }
        },
        "required": [
          "Data",
          "Risk"
        ]
      },
      "ConsentStatus": {
        "description": "Статус ресурса account-consent",
        "type": "string",
        "example": "AwaitingAuthorisation",
        "enum": [
          "AwaitingAuthorisation",
          "Rejected",
          "Authorised",
          "Revoked"
        ]
      },
      "Links": {
        "description": "Поставщик услуг предоставляет постраничный ответ для операций GET, которые возвращают множественные записи.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "first": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          },
          "last": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "self"
        ]
      },
      "Meta": {
        "description": "Раздел Meta обязателен, но может быть пустым. Необязательный элемент - «TotalPages», указывает на количество передаваемых страниц. Если передается более одной страницы, то элемент «TotalPages» обязательно присутствует.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "totalPages": {
            "type": "integer",
            "description": "Указывает на количество передаваемых страниц"
          }
        }
      },
      "VRPConsentResponse": {
        "description": "Ответ согласия на проведения платежа",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Data": {
            "type": "object",
            "additionalProperties": false,
            "description": "Полезная нагрузка Согласия на инициирование",
            "required": [
              "consentId",
              "creationDateTime",
              "status",
              "statusUpdateDateTime",
              "ControlParameters",
              "Initiation",
              "DebtorAccount"
            ],
            "properties": {
              "consentId": {
                "description": "Уникальный идентификатор, присвоенный ППИУ для однозначной идентификации ресурса Согласия на инициирование",
                "type": "string",
                "example": "95791e79-0f2d-47de-a5e0-df034b28574a",
                "maxLength": 128
              },
              "readRefundAccount": {
                "description": "Указывает, требуется ли возвращать счет для возврата денежных средчтв  в ответе при создание ресурса ППДС",
                "type": "string",
                "enum": [
                  "Yes",
                  "No"
                ]
              },
              "creationDateTime": {
                "description": "Дата и время создания ресурса |ISODateTime",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ISODateTime"
                  }
                ]
              },
              "status": {
                "description": "Текущий статус ресурса в форме кода",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConsentStatus"
                  }
                ]
              },
              "statusUpdateDateTime": {
                "description": "Дата и время обновления статуса ресурса",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ISODateTime"
                  }
                ]
              },
              "ControlParameters": {
                "description": "Параметры контроля при проведении ППДС",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VRPControlParameters"
                  }
                ]
              },
              "Initiation": {
                "description": "Реквизиты платежного распоряжения, которые должны быть привязаны к Согласию на инициирование и оставаться неизменными для каждого ППДС",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VRPInitiation"
                  }
                ]
              },
              "DebtorAccount": {
                "description": "Однозначная идентификация счета плательщика, который будет использоваться при  переводе денежных средств",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CashAccount"
                  }
                ]
              }
            }
          },
          "Risk": {
            "description": "Раздел Risk отправляется инициатором в ППИУ и используется для указания дополнительных деталей оценки рисков при  переводе денежных средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/Risk"
              }
            ]
          },
          "Links": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Links"
              }
            ]
          },
          "Meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Meta"
              }
            ]
          }
        },
        "required": [
          "Data",
          "Risk",
          "Links",
          "Meta"
        ]
      },
      "OBRUErrorResponseErrorCode": {
        "description": "Низкоуровневое текстовое описание ошибки",
        "type": "string",
        "x-namespaced-enum": [
          "RU.SBRF.Field.Expected",
          "RU.SBRF.Field.Invalid",
          "RU.SBRF.Field.InvalidDate",
          "RU.SBRF.Field.Missing",
          "RU.SBRF.Field.Unexpected",
          "RU.SBRF.Header.Invalid",
          "RU.SBRF.Header.Missing",
          "RU.SBRF.Reauthenticate",
          "RU.SBRF.Resource.ConsentMismatch",
          "RU.SBRF.Resource.InvalidConsentStatus",
          "RU.SBRF.Resource.InvalidFormat",
          "RU.SBRF.Resource.NotFound",
          "RU.SBRF.Rules.AfterCutOffDateTime",
          "RU.SBRF.Rules.DuplicateReference",
          "RU.SBRF.Signature.Invalid",
          "RU.SBRF.Signature.InvalidClaim",
          "RU.SBRF.Signature.Malformed",
          "RU.SBRF.Signature.Missing",
          "RU.SBRF.Signature.MissingClaim",
          "RU.SBRF.Signature.Unexpected",
          "RU.SBRF.UnexpectedError",
          "RU.SBRF.Unsupported.AccountIdentifier",
          "RU.SBRF.Unsupported.AccountSecondaryIdentifier",
          "RU.SBRF.Unsupported.Currency",
          "RU.SBRF.Unsupported.Frequency",
          "RU.SBRF.Unsupported.LocalInstrument",
          "RU.SBRF.Unsupported.Scheme"
        ]
      },
      "OBRUError": {
        "description": "Контейнер с ошибкой",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "errorCode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OBRUErrorResponseErrorCode"
              }
            ]
          },
          "message": {
            "type": "string",
            "maxLength": 500,
            "description": "Описание ошибки. Например, 'Обязательное поле не указано'"
          },
          "path": {
            "type": "string",
            "maxLength": 500,
            "description": "Путь к элементу с ошибкой в JSON объекте. Рекомендуемое, но не обязательное поле"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL для помощи в устранении проблемы, Также через URL можно предоставлять дополнительную информацию"
          }
        },
        "required": [
          "errorCode",
          "message"
        ]
      },
      "OBRUErrorResponse": {
        "description": "Контейнер с детализацией ошибки",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "description": "Высокоуровневый текстовый код ошибки, необходимый для классификации"
          },
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "description": "Уникальный идентификатор ошибки, для целей аудита, в случае неизвестных / не классифицированных ошибок"
          },
          "message": {
            "minLength": 1,
            "maxLength": 500,
            "description": "Краткое сообщение об ошибке. Например, «что-то не так с предоставленными параметрами запроса»"
          },
          "Errors": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/OBRUError"
                }
              ]
            },
            "minItems": 1
          }
        },
        "required": [
          "code",
          "message",
          "Errors"
        ]
      },
      "VRPFundsConfirmationRequest": {
        "type": "object",
        "description": "Запрос наличия необходимого количества средств на счете Плательщика, который связан с Согласием на инициирование",
        "additionalProperties": false,
        "required": [
          "Data"
        ],
        "properties": {
          "Data": {
            "description": "Полезная нагрузка запроса подтверждения наличия доступных средств",
            "type": "object",
            "additionalProperties": false,
            "required": [
              "consentId",
              "reference",
              "InstructedAmount"
            ],
            "properties": {
              "consentId": {
                "type": "string",
                "maxLength": 128,
                "description": "Уникальный идентификатор, определенный ППИУ для однозначного определения ресурса согласия наличия денежных срелств"
              },
              "reference": {
                "type": "string",
                "maxLength": 35,
                "description": "Уникальная идентификатор, определенный СППУ, однозначно ссылающийся на запрос, связанный с платежной инструкцией"
              },
              "InstructedAmount": {
                "description": "Сумма средств, запрашиваемая для резервирования",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ActiveOrHistoricCurrencyAndAmount"
                  }
                ]
              }
            }
          }
        }
      },
      "PAFundsAvailableResult1": {
        "type": "object",
        "additionalProperties": false,
        "description": "Результат доступности, четко указывающий на наличие средств на сумму, указанную в запросе",
        "required": [
          "fundsAvailableDateTime",
          "fundsAvailable"
        ],
        "properties": {
          "fundsAvailableDateTime": {
            "description": "Дата и время проведение проверки наличия средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/ISODateTime"
              }
            ]
          },
          "fundsAvailable": {
            "type": "string",
            "description": "Результат доступности, четко указывающий на наличие средств на сумму, указанную в запросе",
            "enum": [
              "Available",
              "AvailablaWithOverdraft",
              "NotAvailable"
            ]
          }
        }
      },
      "VRPFundsConfirmationResponse": {
        "type": "object",
        "additionalProperties": false,
        "description": "Подтверждение наличия средств, содержащее результат проверки.",
        "properties": {
          "Data": {
            "type": "object",
            "additionalProperties": false,
            "description": "Полезная нагрузка ответа подтверждения наличия доступных средств",
            "required": [
              "fundsConfirmationId",
              "consentId",
              "creationDateTime",
              "reference",
              "FundsAvailableResult",
              "InstructedAmount"
            ],
            "properties": {
              "fundsConfirmationId": {
                "type": "string",
                "maxLength": 40,
                "description": "Уникальный идентификатор, определенный ППИУ для однозначного определения ресурса подтверждения наличия средств"
              },
              "consentId": {
                "type": "string",
                "maxLength": 128,
                "description": "Уникальный идентификатор, определенный ППИУ для однозначного определения ресурса согласия наличия денежных срелств"
              },
              "creationDateTime": {
                "type": "string",
                "format": "date-time",
                "description": "Дата и время создания ресурса."
              },
              "reference": {
                "type": "string",
                "maxLength": 35,
                "description": "Уникальная идентификатор, определенный СППУ, однозначно ссылающийся на запрос, связанный с платежной инструкцией"
              },
              "FundsAvailableResult": {
                "description": "Результат доступности, четко указывающий на наличие средств на сумму, указанную в запросе",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PAFundsAvailableResult1"
                  }
                ]
              },
              "InstructedAmount": {
                "description": "Зарезервированная сумма средств",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ActiveOrHistoricCurrencyAndAmount"
                  }
                ]
              }
            }
          }
        }
      },
      "PurposeCode": {
        "description": "Указывается код вида дохода цифрой лицами, выплачивающими гражданину заработную плату и (или) иные доходы: «1» – при переводе денежных средств, являющихся заработной платой и (или) иными доходами; «2» – при переводе денежных средств, являющихся доходами, на которые не может быть обращено взыскание; «3» – при переводе денежных средств, являющихся доходами, к которым ограничения по обращению взыскания не применяются.",
        "type": "string",
        "maxLength": 35,
        "enum": [
          "1",
          "2",
          "3"
        ]
      },
      "LocalInstrumentCode": {
        "description": "Вид операции или код платежной системы или код платежного инструмента",
        "type": "string",
        "maxLength": 35,
        "enum": [
          "01"
        ]
      },
      "CBRFCategoryPurpose1": {
        "description": "Очередность платежа. Поле может принимать значение в диапазоне 0-5. Значение поля должно быть равно 0, если в соответствии с нормативными актами Банка России очередность платежа не применяется",
        "type": "string",
        "maxLength": 35,
        "enum": [
          "0",
          "1",
          "2",
          "3",
          "4",
          "5"
        ]
      },
      "ServiceLevelCode": {
        "description": "Вид платежа",
        "type": "string",
        "maxLength": 35,
        "enum": [
          "URGP",
          "NURG"
        ]
      },
      "PaymentTypeInformation": {
        "description": "Информация о платеже",
        "additionalProperties": false,
        "type": "object",
        "properties": {
          "localInstrument": {
            "description": "(Номер реквизита 5) Вид распоряжения. Этот элемент используется для указания локального инструмента, опции локального клиринга и / или дальнейшей квалификации услуги или уровня обслуживания или Вид платежного распоряжения. ",
            "allOf": [
              {
                "$ref": "#/components/schemas/LocalInstrumentCode"
              }
            ]
          },
          "categoryPurpose": {
            "description": "(Номер реквизита 15.3) Категория назначения. Очередность платежа",
            "allOf": [
              {
                "$ref": "#/components/schemas/CBRFCategoryPurpose1"
              }
            ]
          },
          "serviceLevel": {
            "description": "(Номер реквизита 15.1) Вид платежа",
            "allOf": [
              {
                "$ref": "#/components/schemas/ServiceLevelCode"
              }
            ]
          }
        }
      },
      "VRPInstruction": {
        "description": "Реквизиты платежного распоряжения при инициировании повторяющегося  перевода денежных средств",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "instructionIdentification": {
            "description": "Уникальный идентификатор, присвоенный инструктирующей стороной для инструктируемой стороны для однозначного определения инструкции",
            "type": "string",
            "maxLength": 35
          },
          "endToEndIdentification": {
            "description": "Уникальный идентификатор, присвоенный инициирующей стороной для однозначного определения транзакции. Эта идентификация передается без изменений по всей сквозной цепочке. Использование: сквозная идентификация может использоваться для выверки или связывания задач, относящихся к транзакции. Это может быть включено в несколько сообщений, связанных с платежной операцией",
            "type": "string",
            "maxLength": 35
          },
          "purpose": {
            "description": "(Номер реквизита 15.5 Код вида дохода) Причина, по которой осуществляется платеж.",
            "allOf": [
              {
                "$ref": "#/components/schemas/PurposeCode"
              }
            ]
          },
          "PaymentTypeInformation": {
            "description": "Информация о типе платежа",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentTypeInformation"
              }
            ]
          },
          "requestedExecutionDate": {
            "description": "Запрошенная дата исполнения",
            "allOf": [
              {
                "$ref": "#/components/schemas/ISODateTime"
              }
            ]
          },
          "InstructedAmount": {
            "description": "Сумма средств, подлежащая переводу между плательщиком и получателем средств до вычета комиссии, выраженная в валюте поручения инициатора",
            "allOf": [
              {
                "$ref": "#/components/schemas/ActiveOrHistoricCurrencyAndAmount"
              }
            ]
          },
          "UltimateDebtor": {
            "description": "Фактический плательщик",
            "allOf": [
              {
                "$ref": "#/components/schemas/PartyIdentification"
              }
            ]
          },
          "Debtor": {
            "description": "Плательщик",
            "allOf": [
              {
                "$ref": "#/components/schemas/PartyIdentification"
              }
            ]
          },
          "DebtorAgent": {
            "description": "Финансовая организация, обслуживающая счет плательщика",
            "allOf": [
              {
                "$ref": "#/components/schemas/BranchAndFinancialInstitutionIdentification"
              }
            ]
          },
          "DebtorAgentAccount": {
            "description": "Однозначная идентификация счета плательщика у обслуживающего его банка в платежной цепочке",
            "allOf": [
              {
                "$ref": "#/components/schemas/CashAccount"
              }
            ]
          },
          "DebtorAccount": {
            "description": "Однозначная идентификация счета плательщика, по которому будет отражена дебетовая запись в результате операции",
            "allOf": [
              {
                "$ref": "#/components/schemas/CashAccount"
              }
            ]
          },
          "IntermediaryAgent": {
            "description": "Банк-посредник, находящийся между банком плательщика и банком получателя средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/BranchAndFinancialInstitutionIdentification"
              }
            ]
          },
          "IntermediaryAgentAccount": {
            "description": "Счет банка-посредника",
            "allOf": [
              {
                "$ref": "#/components/schemas/CashAccount"
              }
            ]
          },
          "CreditorAgent": {
            "description": "Финансовая организация, обслуживающая счет получателя средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/BranchAndFinancialInstitutionIdentification"
              }
            ]
          },
          "CreditorAccount": {
            "description": "Идентификатор счета получателя средств, на котором будет проведена запись о кредите в результате платежной операции",
            "allOf": [
              {
                "$ref": "#/components/schemas/CashAccount"
              }
            ]
          },
          "CreditorAgentAccount": {
            "description": "Однозначная идентификация счета банка получателя средств у обслуживающего его банка, по которому будет выполнена кредитовая запись в результате платежной операции",
            "allOf": [
              {
                "$ref": "#/components/schemas/CashAccount"
              }
            ]
          },
          "Creditor": {
            "description": "Сторона, которой причитается сумма средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/PartyIdentification"
              }
            ]
          },
          "UltimateCreditor": {
            "description": "Фактическая сторона, которой причитается сумма денег",
            "allOf": [
              {
                "$ref": "#/components/schemas/PartyIdentification"
              }
            ]
          },
          "RemittanceInformation": {
            "description": "Информация, предоставляемая для обеспечения квитовки с позициями, которые должен обеспечить перевод, например, коммерческий счет коммерческие счета, по которым ведется учет в системе ожидаемых поступлений.",
            "allOf": [
              {
                "$ref": "#/components/schemas/RemittanceInformation"
              }
            ]
          }
        },
        "required": [
          "instructionIdentification",
          "endToEndIdentification",
          "InstructedAmount"
        ]
      },
      "VRPRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "Data",
          "Risk"
        ],
        "properties": {
          "Data": {
            "type": "object",
            "description": "Полезная нагрузка запроса инициации ППДС",
            "additionalProperties": false,
            "required": [
              "consentId",
              "PSUAuthenticationMethod",
              "Initiation",
              "Instruction"
            ],
            "properties": {
              "consentId": {
                "type": "string",
                "example": "95791e79-0f2d-47de-a5e0-df034b28574a",
                "maxLength": 128,
                "description": "Уникальный идентификатор, присвоенный ППИУ для однозначной идентификации ресурса Согласия на инициирование"
              },
              "PSUAuthenticationMethod": {
                "type": "string",
                "description": "Указывает, какой метод аутентификации Пользователя был использован в случае аутентификации пользователя на стороне СППУ | VRPAuthenticationMethods - Namespaced Enumeration"
              },
              "Initiation": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VRPInitiation"
                  }
                ],
                "description": "Реквизиты платежного распоряжения, которые должны быть привязаны к Согласию на инициирование и оставаться неизменными для каждого ППДС"
              },
              "Instruction": {
                "description": "Реквизиты платежного распоряжения при инициировании повторяющегося  перевода денежных средств",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VRPInstruction"
                  }
                ]
              }
            }
          },
          "Risk": {
            "description": "Раздел Risk отправляется инициатором в ППИУ и используется для указания дополнительных деталей оценки рисков при  переводе денежных средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/Risk"
              }
            ]
          }
        }
      },
      "TransactionStatusCode": {
        "description": "Статус записи операции по счету",
        "type": "string",
        "enum": [
          "AcceptedSettlementCompleted",
          "AcceptedSettlementInProcess",
          "Pending",
          "Rejected",
          "AcceptedWithoutPosting",
          "AcceptedCreditSettlementCompleted"
        ]
      },
      "ChargeBearerTypeCode": {
        "description": "Несущий (оплачивающий) расходы",
        "type": "string",
        "enum": [
          "CRED",
          "DEBT",
          "SLEV",
          "SHAR"
        ]
      },
      "Charge": {
        "description": "Набор элементов, используемый для предоставления деталей о комиссии за инициацию платежа",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "chargeBearer": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChargeBearerTypeCode"
              }
            ]
          },
          "Amount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ActiveOrHistoricCurrencyAndAmount"
              }
            ]
          }
        }
      },
      "VRPResponse": {
        "description": "Ответ на запрос создания ресурса ППДС",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "Data",
          "Risk",
          "Links",
          "Meta"
        ],
        "properties": {
          "Data": {
            "description": "Полезная нагрузка ответа",
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "VRPId": {
                "description": "Уникальный идентификатор, присвоенный ППИУ для однозначной идентификации ресурса ППДС",
                "type": "string",
                "maxLength": 128,
                "example": "64791e79-0f2d-47de-a5e0-df034b28579b"
              },
              "consentId": {
                "description": "Уникальный идентификатор, присвоенный ППИУ для однозначной идентификации ресурса Согласия на инициирование",
                "type": "string",
                "maxLength": 128,
                "example": "95791e79-0f2d-47de-a5e0-df034b28574a"
              },
              "creationDateTime": {
                "description": "Дата и время создания ресурса Согласия на инициирование",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ISODateTime"
                  }
                ]
              },
              "status": {
                "description": "Статус платежа на текущий момент времени",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TransactionStatusCode"
                  }
                ]
              },
              "statusUpdateDateTime": {
                "description": "Дата и время обновления статуса платежа",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ISODateTime"
                  }
                ]
              },
              "expectedExecutionDateTime": {
                "description": "Ожидаемая дата и время исполнения платежа",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ISODateTime"
                  }
                ]
              },
              "expectedSettlementDateTime": {
                "description": "Ожидаемая дата и время расчета платежа",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ISODateTime"
                  }
                ]
              },
              "Charges": {
                "description": "Сборы при проведении платежа",
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Charge"
                    }
                  ]
                },
                "minItems": 0
              },
              "Refund": {
                "description": "Счет для возврата средств Плательщику",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CashAccount"
                  }
                ]
              },
              "Instruction": {
                "description": "Реквизиты платежного распоряжения при инициировании повторяющегося  перевода денежных средств",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VRPInstruction"
                  }
                ]
              },
              "Initiation": {
                "description": "Реквизиты платежного распоряжения, которые должны быть привязаны к Согласию на инициирование и оставаться неизменными для каждого ППДС",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VRPInitiation"
                  }
                ]
              },
              "DebtorAccount": {
                "description": "Однозначная идентификация счета плательщика, по которому будет отражена дебетовая запись в результате операции",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CashAccount"
                  }
                ]
              }
            },
            "required": [
              "VRPId",
              "consentId",
              "creationDateTime",
              "status",
              "statusUpdateDateTime",
              "Instruction",
              "Initiation",
              "DebtorAccount"
            ]
          },
          "Risk": {
            "description": "Раздел Risk отправляется инициатором в ППИУ и используется для указания дополнительных деталей оценки рисков при  переводе денежных средств",
            "allOf": [
              {
                "$ref": "#/components/schemas/Risk"
              }
            ]
          },
          "Links": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Links"
              }
            ]
          },
          "Meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Meta"
              }
            ]
          }
        }
      },
      "PaymentTransactionStatusCode": {
        "description": "Детализированный статус платежа, назначенный администратором транзакции в виде кода",
        "type": "string",
        "enum": [
          "Accepted",
          "AcceptedCancellationRequest",
          "AcceptedCreditSettlementCompleted",
          "AcceptedCustomerProfile",
          "AcceptedFundsChecked",
          "AcceptedSettlementCompleted",
          "AcceptedSettlementInProcess",
          "AcceptedTechnicalValidation",
          "AcceptedWithChange",
          "AcceptedWithoutPosting",
          "Cancelled",
          "NoCancellationProcess",
          "PartiallyAcceptedCancellationRequest",
          "PartiallyAcceptedTechnicalCorrect",
          "PaymentCancelled",
          "Pending",
          "PendingCancellationRequest",
          "Received",
          "Rejected",
          "RejectedCancellationRequest"
        ],
        "example": "Rejected"
      },
      "StatusReasonCode": {
        "description": "Код причины статуса платежа",
        "type": "string",
        "example": "PendingFailingSettlement",
        "enum": [
          "Cancelled",
          "PendingFailingSettlement",
          "PendingSettlement",
          "Proprietary",
          "ProprietaryRejection",
          "Suspended",
          "Unmatched"
        ]
      },
      "StatusReasonInformation": {
        "description": "Информация о причине статуса",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "reason": {
            "description": "Код причины статуса платежа",
            "allOf": [
              {
                "$ref": "#/components/schemas/StatusReasonCode"
              }
            ]
          },
          "additionalInformation": {
            "description": "Текстовое описание причины присвоения статуса",
            "type": "string",
            "maxLength": 256,
            "example": "Недостаточно средств на счете"
          }
        }
      },
      "StatusDetails": {
        "description": "Информация о деталях статуса платежа",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "paymentTransactionId": {
            "description": "Уникальный идентификатор транзакции внутри обслуживающего учреждения. Этот идентификатор является уникальным и неизменным",
            "type": "string",
            "maxLength": 210,
            "example": "TID-0000001-as-001"
          },
          "transactionStatus": {
            "description": "Статус операции (платежа)",
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentTransactionStatusCode"
              }
            ]
          },
          "statusUpdateDateTime": {
            "description": "Дата и время, когда статус был присвоен",
            "allOf": [
              {
                "$ref": "#/components/schemas/ISODateTime"
              }
            ]
          },
          "StatusReasonInformation": {
            "description": "Детали статуса оплаты",
            "allOf": [
              {
                "$ref": "#/components/schemas/StatusReasonInformation"
              }
            ]
          }
        },
        "required": [
          "paymentTransactionId",
          "transactionStatus",
          "statusUpdateDateTime"
        ]
      },
      "PaymentDetailsResponse": {
        "description": "Ответ детального состояния ресурса перевода денежных средств",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Data": {
            "description": "Полезная нагрузка ответа инициации платежа",
            "allOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          },
          "Risk": {
            "description": "Раздел Risk отправляется инициатором платежа в ППИУ, используется для указания дополнительных деталей для оценки рисков при проведении платежей",
            "allOf": [
              {
                "$ref": "#/components/schemas/Risk"
              }
            ]
          },
          "Links": {
            "description": "Раздел для указания ссылок",
            "allOf": [
              {
                "$ref": "#/components/schemas/Links"
              }
            ]
          },
          "Meta": {
            "description": "Раздел метаданных",
            "allOf": [
              {
                "$ref": "#/components/schemas/Meta"
              }
            ]
          }
        },
        "required": [
          "Data",
          "Risk",
          "Links",
          "Meta"
        ]
      }
    },
    "responses": {
      "201VRPConsentCreated": {
        "description": "Ресурс Согласия на инициирование создан",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          },
          "x-jws-signature": {
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VRPConsentResponse"
            }
          }
        }
      },
      "400Error": {
        "description": "Запрос имеет неверное, отсутствующее или несовместимое тело JSON, параметры URL или поля заголовка",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OBRUErrorResponse"
            }
          }
        }
      },
      "401Error": {
        "description": "Заголовок авторизации отсутствует или неверный токен",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "403Error": {
        "description": "Токен имеет неверную область действия или была нарушена политика безопасности",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OBRUErrorResponse"
            }
          }
        }
      },
      "404Error": {
        "description": "Сторонний Поставщик пытается получить ресурс, который указан в спецификации, но не реализован на строне ППИУ, либо ресурс, который не определен",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "405Error": {
        "description": "Сторонний Поставщик пытается получить доступ к ресурсу с помощью метода, который не поддерживается",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "406Error": {
        "description": "Запрос содержал параметр заголовка Accept, отличный от разрешенных media types, и набор символов, отличный от UTF-8",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "429Error": {
        "description": "Операция была отклонена, так как слишком много запросов было сделано в течение определенного периода времени",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          },
          "Retry-After": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "InternalError": {
        "description": "Внутренняя ошибка сервера",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OBRUErrorResponse"
            }
          }
        }
      },
      "200GetVRPConsentId": {
        "description": "Информация о ресурсе согласия",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          },
          "x-jws-signature": {
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VRPConsentResponse"
            }
          }
        }
      },
      "204Deleted": {
        "description": "Ресурс удален",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "201FundsConfirmation": {
        "description": "Ресурс Согласия на инициирование создан",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          },
          "x-jws-signature": {
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VRPFundsConfirmationResponse"
            }
          }
        }
      },
      "201VRPCreated": {
        "description": "Ресурс ППДС создан",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          },
          "x-jws-signature": {
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VRPResponse"
            }
          }
        }
      },
      "200GetVRP": {
        "description": "Информация о состоянии платежа",
        "headers": {
          "x-fapi-interaction-id": {
            "schema": {
              "type": "string"
            }
          },
          "x-jws-signature": {
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VRPResponse"
            }
          }
        }
      },
      "200GetPaymentDetailsRead": {
        "description": "",
        "headers": {
          "x-fapi-interaction-id": {
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "RFC4122 UID, используемый в качестве идентификатора корреляции. Если необходимо, то ППИУ передает обратно значение идентификатора корреляции в заголовке ответа x-fapi-interaction-id."
          },
          "x-jws-signature": {
            "required": true,
            "description": "Отделяемая подпись полезной нагрузки в формате JWS",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaymentDetailsResponse"
            }
          }
        }
      }
    }
  },
  "x-tyk-configuration": {
    "application": {
      "version": "v1",
      "mw_enable_validate_header_limit_request": false,
      "mw_enable_validate_header_limit_response": false,
      "mask_log": [
        {
          "header": {
            "rq": [
              "X-TYK-API-KEY",
              "Authorization",
              "Cookie"
            ]
          },
          "json": {
            "rq": [
              "*"
            ],
            "rs": {
              "200": [
                "*"
              ],
              "201": [
                "*"
              ]
            }
          },
          "method": "POST",
          "path": "/vrp-consents"
        },
        {
          "header": {
            "rq": [
              "X-TYK-API-KEY",
              "Authorization",
              "Cookie"
            ]
          },
          "json": {
            "rs": {
              "200": [
                "*"
              ]
            }
          },
          "method": "GET",
          "path": "/vrp-consents/{consentId}"
        },
        {
          "header": {
            "rq": [
              "X-TYK-API-KEY",
              "Authorization",
              "Cookie"
            ]
          },
          "json": {
            "rq": [
              "*"
            ],
            "rs": {
              "200": [
                "*"
              ],
              "201": [
                "*"
              ]
            }
          },
          "method": "DELETE",
          "path": "/vrp-consents/{consentId}"
        },
        {
          "header": {
            "rq": [
              "X-TYK-API-KEY",
              "Authorization",
              "Cookie"
            ]
          },
          "json": {
            "rq": [
              "*"
            ],
            "rs": {
              "200": [
                "*"
              ],
              "201": [
                "*"
              ]
            }
          },
          "method": "POST",
          "path": "/vrp-consents/{consentId}/funds-confirmation"
        },
        {
          "header": {
            "rq": [
              "X-TYK-API-KEY",
              "Authorization",
              "Cookie"
            ]
          },
          "json": {
            "rq": [
              "*"
            ],
            "rs": {
              "200": [
                "*"
              ],
              "201": [
                "*"
              ]
            }
          },
          "method": "POST",
          "path": "/vrp-payments"
        },
        {
          "header": {
            "rq": [
              "X-TYK-API-KEY",
              "Authorization",
              "Cookie"
            ]
          },
          "json": {
            "rs": {
              "200": [
                "*"
              ]
            }
          },
          "method": "GET",
          "path": "/vrp-payments/{VRPId}"
        },
        {
          "header": {
            "rq": [
              "X-TYK-API-KEY",
              "Authorization",
              "Cookie"
            ]
          },
          "json": {
            "rs": {
              "200": [
                "*"
              ]
            }
          },
          "method": "GET",
          "path": "/vrp-payments/{VRPId}/payment-details"
        }
      ],
      "name": "1234.open-transfersOfFunds-s-rest-v1",
      "providerRisId": "1234",
      "providerMnemonic": "SUPR",
      "strip_listen_path": true,
      "provider_type": "internal",
      "api_type": "rest",
      "global_size_limit": 1048576,
      "enable_middlewares": true,
      "middlewares": {},
      "rq_validate_json": [
        {
          "path": "/vrp-consents",
          "method": "POST",
          "error_response_code": 422,
          "properties": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "Data": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "ControlParameters",
                  "Initiation"
                ],
                "properties": {
                  "ControlParameters": {
                    "allOf": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "VRPType"
                        ],
                        "properties": {
                          "validFromDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "validToDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "MaximumIndividualAmount": {
                            "type": "object",
                            "additionalProperties": false,
                            "allOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "amount": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "pattern": "^\\d{1,13}\\.\\d{2}"
                                      }
                                    ]
                                  },
                                  "currency": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "pattern": "^[A-Z]{3,3}"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currency"
                                ]
                              }
                            ]
                          },
                          "PeriodicLimits": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "required": [
                                    "periodType",
                                    "periodAlignment",
                                    "Amount"
                                  ],
                                  "properties": {
                                    "periodType": {
                                      "type": "string",
                                      "enum": [
                                        "Day",
                                        "Week",
                                        "Fortnight",
                                        "Month",
                                        "Half-year",
                                        "Year"
                                      ]
                                    },
                                    "periodAlignment": {
                                      "type": "string",
                                      "enum": [
                                        "Consent",
                                        "Calendar"
                                      ]
                                    },
                                    "Amount": {
                                      "allOf": [
                                        {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "properties": {
                                            "amount": {
                                              "allOf": [
                                                {
                                                  "type": "string",
                                                  "pattern": "^\\d{1,13}\\.\\d{2}"
                                                }
                                              ]
                                            },
                                            "currency": {
                                              "allOf": [
                                                {
                                                  "type": "string",
                                                  "pattern": "^[A-Z]{3,3}"
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "amount",
                                            "currency"
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                }
                              }
                            ]
                          },
                          "VRPType": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "minItems": 1
                          },
                          "PSUAuthenticationMethods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "minItems": 1
                          },
                          "SupplementaryData": {
[...]
