{
  "openapi": "3.0.1",
  "info": {
    "title": "Система рассмотрения заявок на экспресс-гарантии, полученных от партнеров банка",
    "description": "Функционал выдачи экспресс гарантий позволяет реализовать след. сервисы:\n\n- Создание клиентом заявки в личном кабинете на выдачу экспресс-гарантии\n- Отображение информации о закупке по минимальному набору введенных атрибутов\n- Загрузка и прикрепление документов к заявке\n- Формирование заявления на выдачу экспресс-гарантии для подписания клиентом\n- Подписание клиентом заявления с использованием УНЭП\n- Отображение в Интернет банке статусов заявки\n- Получение и передача заявок от партнеров\n- Создание сотрудником банка заявки на гарантию\n- Формирование проекта решения по заявке на гарантию\n",
    "version": "1.4.1"
  },
  "servers": [
    {
      "url": "https://api.bankingapi.ru/secapi/smb/grnt/ch-partner-adapter/hackathon/v2",
      "description": "Адрес API в песочнице хакатона"
    }
  ],
  "tags": [
    {
      "name": "Commission",
      "description": "Комиссия"
    },
    {
      "name": "Order",
      "description": "Заявки"
    },
    {
      "name": "Comment",
      "description": "Чат с банком"
    },
    {
      "name": "Document",
      "description": "Документы"
    },
    {
      "name": "Pagl",
      "description": "Предодобренные гарантийные лимиты"
    }
  ],
  "paths": {
    "/orders/{orderId}/sign-offer": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Передача подписанной клиентом оферты",
        "description": "Передача подписанной клиентом оферты",
        "operationId": "signOffer",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000018c52"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "Данные оферты",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Оферта принята"
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "404": {
            "description": "Заявка не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Заявка не найдена"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/documents/uploads/{requestId}/expect": {
      "put": {
        "tags": [
          "Document"
        ],
        "summary": "Ожидать загрузку документа в банк (для систем партнеров)",
        "description": "Ожидать загрузку документа в банк (для систем партнеров)",
        "operationId": "expectUpload",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "Идентификатор запроса",
            "required": true,
            "schema": {
              "maximum": 9007199254740991,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на подтверждение загрузки документа из банка",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadExpect"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "404": {
            "description": "Документ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not Found",
                  "moreInformation": "Документ не найден"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/documents/downloads/confirm": {
      "put": {
        "tags": [
          "Document"
        ],
        "summary": "Подтвердить загрузку документа из банка",
        "description": "Подтвердить загрузку документа из банка",
        "operationId": "confirmDownload",
        "parameters": [
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на подтверждение загрузки документа из банка",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadConfirmDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "404": {
            "description": "Сессия не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Сессия не найдена"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/comments/mark-read": {
      "put": {
        "tags": [
          "Comment"
        ],
        "summary": "Получение информации по прочитанным комментариям",
        "description": "Получение информации по прочитанным комментариям",
        "operationId": "markRead",
        "parameters": [
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "Список идентификаторов комментариев",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkReadCommentDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Комментарии получены"
          },
          "404": {
            "description": "Комментарии не найдены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Комментарии не найдены"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/pagl": {
      "post": {
        "tags": [
          "Pagl"
        ],
        "summary": "Создать запросы от клиента для расчета предодобренного предложения",
        "description": "Создать запрос клиента",
        "operationId": "createRequestClient",
        "parameters": [
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "Данные ПАГЛ",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaglRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Запросы успешно созданы и ожидают расчета",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRequestResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Создать заявку",
        "description": "Создать заявку",
        "operationId": "createOrder",
        "parameters": [
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "Заявка",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Запущено создание заявки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "403": {
            "description": "Неразрешенная операция в запросе",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Forbidden",
                  "moreInformation": "Неразрешенная операция в запросе"
                }
              }
            }
          },
          "404": {
            "description": "Заявка не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Заявка не найдена"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/send-comment": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Отправка комментария",
        "description": "Отправка комментария",
        "operationId": "sendComment",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000018c52"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "DTO с текстовым комментарием, с сылкой на документ от клиента с правками/замечаниями",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Комментарий отправлен"
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "404": {
            "description": "Заявка не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Заявка не найдена"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/request-discount": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Запрос скидки к ранее одобренной заявке на банковскую гарантию",
        "description": "Запрос скидки к ранее одобренной заявке на банковскую гарантию",
        "operationId": "requestDiscount",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000018c52"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "ДТО для запроса скидки",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Оферта принята",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "404": {
            "description": "Заявка не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Заявка не найдена"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/decline-by-client": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Отказ клиента от заявки",
        "description": "Отказ клиента от заявки",
        "operationId": "declineByClient",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000018c52"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "DTO с данными на отказ клиента от заявки",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeclineOrderDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Отказ клиента от заявки отправлен"
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "404": {
            "description": "Заявка не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Заявка не найдена"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/append-documents": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Загрузка документов и перевод заявки на предыдущий статус",
        "description": "Загрузка документов и перевод заявки на предыдущий статус",
        "operationId": "appendDocuments",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000018c52"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "ДТО для прикрепления списка документов по заявке",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentsAppendRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Документ получен"
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "404": {
            "description": "Заявка не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Заявка не найдена"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/documents/downloads": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Запросить загрузку документа из банка",
        "description": "Запросить загрузку документа из банка",
        "operationId": "requestDownload",
        "parameters": [
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "Запрос на передачу документа",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDownloadDto"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "404": {
            "description": "Документ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Документ не найден"
                }
              }
            }
          },
          "422": {
            "description": "Документ не прошел проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unprocessable Entity",
                  "moreInformation": "Документ не прошел проверку"
                }
              }
            }
          },
          "428": {
            "description": "Отсутствие доступных квот для выгрузки\\загрузки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Precondition Required",
                  "moreInformation": "Отсутствие доступных квот для выгрузки или загрузки"
                }
              }
            }
          },
          "500": {
            "description": "ЦФС / core-storage не отвечает",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "ЦФС / core-storage не отвечает"
                }
              }
            }
          },
          "503": {
            "description": "Превышено время проверки документа ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Service Unavailable",
                  "moreInformation": "Превышено время проверки документа"
                }
              }
            }
          }
        }
      }
    },
    "/commissions/precalculate": {
      "post": {
        "tags": [
          "Commission"
        ],
        "summary": "Получить предварительный расчет комиссии",
        "description": "Получить предварительный расчет комиссии",
        "operationId": "precalculateCommission",
        "parameters": [
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "Информация о комиссии",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommissionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Рассчитана предварительная комиссия",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommissionResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/comment/{orderId}": {
      "post": {
        "tags": [
          "Comment"
        ],
        "summary": "Отправка комментария в рамках чата",
        "description": "Отправка комментария в рамках чата",
        "operationId": "createComment",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000018c52"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "requestBody": {
          "description": "Данные о комментарии и документе в рамках чата с клиентом",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCommentDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Комментарий отправлен"
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "404": {
            "description": "Комментарий не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Комментарий не найден"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/pagl/result/{internalId}": {
      "get": {
        "tags": [
          "Pagl"
        ],
        "summary": "Получить ссылку на документ результатов предодобренных лимитов по гарантиям",
        "description": "Запрос документа результатов расчета",
        "operationId": "getPaglResult",
        "parameters": [
          {
            "name": "internalId",
            "in": "path",
            "description": "Идентификатор запроса партнера",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string",
              "example": "6f9619ff-8b86-d011-642d-00cf4fc964ff"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно выполнен запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDownloadDto"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Получить статус заявки",
        "description": "Получить статус заявки",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000018c52"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Получен статус заявки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatus"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad Request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "404": {
            "description": "Заявка не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Заявка не найдена"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{orderId}/request-details": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Получение информации по загрузке документов заявки",
        "description": "Получение информации по загрузке документов заявки",
        "operationId": "getApplicationDetails",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000018c52"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDetailsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Некорректный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Bad request",
                  "moreInformation": "Некорректный запрос"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Unauthorized",
                  "moreInformation": "Ошибка авторизации"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Forbidden",
                  "moreInformation": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not Found",
                  "moreInformation": "Not Found"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{orderId}": {
      "get": {
        "tags": [
          "Comment"
        ],
        "summary": "Получение информации по комментариям сотрудника к заявке",
        "description": "Получение информации по комментариям сотрудника к заявке",
        "operationId": "getComments",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000018c52"
            }
          },
          {
            "name": "X-IBM-Client-ID",
            "in": "header",
            "description": "Заголовок запроса, содержащий client_id партнера",
            "required": true,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "example": "ext.phn.3e9d5109-dae1-4b66-b740-66ed7782e547"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Комментарий отправлен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderIdCommentDto"
                }
              }
            }
          },
          "404": {
            "description": "Комментарий не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Not found",
                  "moreInformation": "Комментарий не найден"
                }
              }
            }
          },
          "500": {
            "description": "Сервис недоступен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "httpMessage": "Internal Server Error",
                  "moreInformation": "Сервис недоступен"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OfferDto": {
        "title": "Данные оферты",
        "required": [
          "signOffers"
        ],
        "type": "object",
        "properties": {
          "signOffers": {
            "maxItems": 1000,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignOfferDto"
            }
          }
        },
        "additionalProperties": false,
        "description": "Данные оферты"
      },
      "SignOfferDto": {
        "title": "Данные для подписания оферты",
        "required": [
          "documentId",
          "signature",
          "type"
        ],
        "type": "object",
        "properties": {
          "documentId": {
            "title": "Идентификатор документа",
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string",
            "description": "Идентификатор документа",
            "example": "00000000-0000-0000-0000-000000018c52"
          },
          "signature": {
            "title": "Подпись",
            "maxLength": 15000,
            "minLength": 1,
            "type": "string",
            "description": "Подпись",
            "example": "77u/ZmlsZTE="
          },
          "type": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Тип документа. GUARANTEE_PROJECT_PDF - проект гарантии в формате .pdf, GUARANTEE_OFFER_PDF - оферта в формате .pdf",
            "enum": [
              "GUARANTEE_PROJECT_PDF",
              "GUARANTEE_OFFER_PDF"
            ]
          }
        },
        "additionalProperties": false,
        "description": "Данные для подписания оферты"
      },
      "Error": {
        "title": "Ошибка",
        "type": "object",
        "properties": {
          "httpCode": {
            "maxLength": 3,
            "type": "string",
            "description": "HTTP код ошибки",
            "example": "400"
          },
          "httpMessage": {
            "maxLength": 255,
            "type": "string",
            "description": "HTTP описание ошибки",
            "example": "Bad Request"
          },
          "moreInformation": {
            "maxLength": 5000,
            "type": "string",
            "description": "Подробная информация об ошибке",
            "example": "Bad Request"
          }
        },
        "additionalProperties": false,
        "description": "Ошибка"
      },
      "UploadExpect": {
        "title": "Запрос на подтверждение загрузки документа из банка",
        "required": [
          "externalDocumentId",
          "orderId"
        ],
        "type": "object",
        "properties": {
          "orderId": {
            "title": "Идентификатор заявки",
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string",
            "description": "Идентификатор заявки",
            "example": "6f9619ff-8b86-d011-b42d-00cf4fc964ff"
          },
          "externalDocumentId": {
            "title": "Идентификатор загружаемого документа",
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string",
            "description": "Идентификатор загружаемого документа. Формируется партнером",
            "example": "6f9619ff-8b86-d011-b42d-00cf4fc964ff"
          }
        },
        "additionalProperties": false,
        "description": "Запрос на подтверждение загрузки документа из банка"
      },
      "DownloadConfirmDto": {
        "title": "Зарпос для подтверждения загрузки документа из банка",
        "required": [
          "requestId"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "title": "Идентификатор запроса",
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string",
            "description": "Идентификатор запроса",
            "example": "00000000-0000-0000-0000-000000018c52"
          }
        },
        "additionalProperties": false,
        "description": "Зарпос для подтверждения загрузки документа из банка"
      },
      "MarkReadCommentDto": {
        "title": "Список идентификаторов комментариев",
        "required": [
          "comments"
        ],
        "type": "object",
        "properties": {
          "comments": {
            "maxItems": 1000,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReadCommentDto"
            }
          }
        },
        "additionalProperties": false,
        "description": "Данные оферты"
      },
      "ReadCommentDto": {
        "title": "Список идентификаторов комментариев",
        "required": [
          "commentId"
        ],
        "type": "object",
        "properties": {
          "commentId": {
            "title": "Идентификатор комментария",
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string",
            "description": "Идентификатор комментария",
            "example": "00000000-0000-0000-0000-000000018c52"
          }
        },
        "additionalProperties": false,
        "description": "Данные для подписания оферты"
      },
      "PaglDto": {
        "title": "Список ИНН",
        "required": [
          "inn"
        ],
        "type": "object",
        "properties": {
          "inn": {
            "maxLength": 12,
            "minLength": 10,
            "type": "string",
            "description": "ИНН",
            "example": "7726743680"
          }
        },
        "additionalProperties": false,
        "description": "Список ИНН"
      },
      "PaglRequest": {
        "title": "Данные ПАГЛ",
        "required": [
          "pagls"
        ],
        "type": "object",
        "properties": {
          "pagls": {
            "maxItems": 1000,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaglDto"
            }
          }
        },
        "additionalProperties": false,
        "description": "Данные оферты"
      },
      "CreateRequestResponseDto": {
        "type": "object",
        "properties": {
          "internalId": {
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string",
            "description": "Внутренний ИД запроса партнера",
            "example": "6f9619ff-8b86-d011-642d-00cf4fc964ff"
          }
        },
        "additionalProperties": false,
        "description": "Ответ создания запроса клиента"
      },
      "Address": {
        "title": "Адрес + тип",
        "required": [
          "address",
          "addressType"
        ],
        "type": "object",
        "properties": {
          "address": {
            "title": "Адрес",
            "maxLength": 1000,
            "minLength": 1,
            "type": "string",
            "description": "Адрес",
            "example": "683024, г Петропавловск-Камчатский, пр-кт Рыбаков, д 7"
          },
          "country": {
            "title": "Страна",
            "maxLength": 2,
            "minLength": 1,
            "type": "string",
            "description": "Страна (значение из двух букв по справочнику ISO)",
            "example": "RU",
            "enum": [
              "AF",
              "AL",
              "AQ",
              "DZ",
              "AS",
              "AD",
              "AO",
              "AG",
              "AZ",
              "AR",
              "AU",
              "AT",
              "AB",
              "BS",
              "BH",
              "BD",
              "AM",
              "BB",
              "BE",
              "BM",
              "BT",
              "BO",
              "BA",
              "BW",
              "BV",
              "BR",
              "BZ",
              "IO",
              "SB",
              "VG",
              "BN",
              "BG",
              "MM",
              "BI",
              "BY",
              "KH",
              "CM",
              "CA",
              "CV",
              "KY",
              "CF",
              "LK",
              "TD",
              "CL",
              "CN",
              "TW",
              "CX",
              "CC",
              "CO",
              "KM",
              "YT",
              "CG",
              "CD",
              "CK",
              "CR",
              "HR",
              "CU",
              "CY",
              "CZ",
              "BJ",
              "DK",
              "DM",
              "DO",
              "EC",
              "SV",
              "GQ",
              "ET",
              "ER",
              "EE",
              "FO",
              "FK",
              "GS",
              "FJ",
              "FI",
              "AX",
              "FR",
              "GF",
              "PF",
              "TF",
              "DJ",
              "GA",
              "GE",
              "GM",
              "PS",
              "DE",
              "GH",
              "GI",
              "KI",
              "GR",
              "GL",
              "GD",
              "GP",
              "GU",
              "GT",
              "GN",
              "GY",
              "HT",
              "HM",
              "VA",
              "HN",
              "HK",
              "HU",
              "IS",
              "IN",
              "ID",
              "IR",
              "IQ",
              "IE",
              "IL",
              "IT",
              "CI",
              "JM",
              "JP",
              "KZ",
              "JO",
              "KE",
              "KP",
              "KR",
              "KW",
              "KG",
              "LA",
              "LB",
              "LS",
              "LV",
              "LR",
              "LY",
              "LI",
              "LT",
              "LU",
              "MO",
              "MG",
              "MW",
              "MY",
              "MV",
              "ML",
              "MT",
              "MQ",
              "MR",
              "MU",
              "MX",
              "MC",
              "MN",
              "MD",
              "ME",
              "MS",
              "MA",
              "MZ",
              "OM",
              "OS",
              "NA",
              "NR",
              "NP",
              "NL",
              "CW",
              "AW",
              "SX",
              "BQ",
              "NC",
              "VU",
              "NZ",
              "NI",
              "NE",
              "NG",
              "NU",
              "NF",
              "NO",
              "MP",
              "UM",
              "FM",
              "MH",
              "PW",
              "PK",
              "PA",
              "PG",
              "PY",
              "PE",
              "PH",
              "PN",
              "PL",
              "PT",
              "GW",
              "TL",
              "PR",
              "QA",
              "RE",
              "RO",
              "RU",
              "RW",
              "BL",
              "SH",
              "KN",
              "AI",
              "LC",
              "MF",
              "PM",
              "VC",
              "SM",
              "ST",
              "SA",
              "SN",
              "RS",
              "SC",
              "SL",
              "SG",
              "SK",
              "VN",
              "SI",
              "SO",
              "ZA",
              "ZW",
              "ES",
              "SS",
              "SD",
              "EH",
              "SR",
              "SJ",
              "SZ",
              "SE",
              "CH",
              "SY",
              "TJ",
              "TH",
              "TG",
              "TK",
              "TO",
              "TT",
              "AE",
              "TN",
              "TR",
              "TM",
              "TC",
              "TV",
              "UG",
              "UA",
              "MK",
              "EG",
              "GB",
              "GG",
              "JE",
              "IM",
              "TZ",
              "US",
              "VI",
              "BF",
              "UY",
              "UZ",
              "VE",
              "WF",
              "WS",
              "YE",
              "ZM"
            ]
          },
          "zipcode": {
            "title": "Почтовый индекс",
            "maxLength": 15,
            "minLength": 1,
            "type": "string",
            "description": "Почтовый индекс",
            "example": "683024"
          },
          "region": {
            "title": "Регион",
            "maxLength": 3,
            "minLength": 1,
            "type": "string",
            "description": "\"1 - Республика Адыгея (Адыгея)\", \"2 - Республика Башкортостан\",\"3 - Республика Бурятия\", \"4 - Республика Алтай\", \"5 - Республика Дагестан\",\"6 - Республика Ингушетия\", \"7 - Кабардино-Балкарская Республика\", \"8 - Республика Калмыкия\",\"9 - Карачаево-Черкесская Республика\", \"10 - Республика Карелия\", \"11 - Республика Коми\",\"12 - Республика Марий Эл\", \"13 - Республика Мордовия\", \"14 - Республика Саха (Якутия)\",\"15 - Республика Северная Осетия - Алания\", \"16 - Республика Татарстан (Татарстан)\",\"17 - Республика Тыва\", \"18 - Удмуртская Республика\", \"19 - Республика Хакасия\",\"20 - Чеченская Республика\", \"21 - Чувашская Республика - Чувашия\", \"22 - Алтайский край\",\"23 - Краснодарский край\", \"24 - Красноярский край\", \"25 - Приморский край\",\"26 - Ставропольский край\", \"27 - Хабаровский край\", \"28 - Амурская область\",\"29 - Архангельская область\", \"30 - Астраханская область\", \"31 - Белгородская область\",\"32 - Брянская область\", \"33 - Владимирская область\", \"34 - Волгоградская область\",\"35 - Вологодская область\", \"36 - Воронежская область\", \"37 - Ивановская область\",\"38 - Иркутская область\", \"39 - Калининградская область\", \"40 - Калужская область\",\"41 - Камчатский край\", \"42 - Кемеровская область - Кузбасс\", \"43 - Кировская область\",\"44 - Костромская область\", \"45 - Курганская область\", \"46 - Курская область\",\"47 - Ленинградская область\", \"48 - Липецкая область\", \"49 - Магаданская область\",\"50 - Московская область\", \"51 - Мурманская область\", \"52 - Нижегородская область\",\"53 - Новгородская область\", \"54 - Новосибирская область\", \"55 - Омская область\",\"56 - Оренбургская область\", \"57 - Орловская область\", \"58 - Пензенская область\",\"59 - Пермский край\", \"60 - Псковская область\", \"61 - Ростовская область\",\"62 - Рязанская область\", \"63 - Самарская область\", \"64 - Саратовская область\",\"65 - Сахалинская область\", \"66 - Свердловская область\", \"67 - Смоленская область\",\"68 - Тамбовская область\", \"69 - Тверская область\", \"70 - Томская область\",\"71 - Тульская область\", \"72 - Тюменская область\", \"73 - Ульяновская область\",\"74 - Челябинская область\", \"75 - Забайкальский край\", \"76 - Ярославская область\",\"77 - Г.Москва\", \"78 - Г.Санкт-Петербург\", \"79 - Еврейская автономная область\",\"83 - Ненецкий автономный округ\", \"86 - Ханты-Мансийский автономный округ - Югра\",\"87 - Чукотский автономный округ\", \"89 - Ямало-Ненецкий автономный округ\",\"90 - Запорожская область\", \"91 - Республика Крым\", \"92 - город федерального значения Севастополь\",\"93 - Донецкая Народная Республика\", \"94 - Луганская Народная Республика\", \"95 - Херсонская область\",\"99 - Иные территории, включая город и космодром Байконур\"",
            "example": "33",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31",
              "32",
              "33",
              "34",
              "35",
              "36",
              "37",
              "38",
              "39",
              "40",
              "41",
              "42",
              "43",
              "44",
              "45",
              "46",
              "47",
              "48",
              "49",
              "50",
              "51",
              "52",
              "53",
              "54",
              "55",
              "56",
              "57",
              "58",
              "59",
              "60",
              "61",
              "62",
              "63",
              "64",
              "65",
              "66",
              "67",
              "68",
              "69",
              "70",
              "71",
              "72",
              "73",
              "74",
              "75",
              "76",
              "77",
              "78",
              "79",
              "83",
              "86",
              "87",
              "89",
              "90",
              "91",
              "92",
              "93",
              "94",
              "95",
              "99"
            ]
          },
          "provinceType": {
            "title": "Тип области",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Тип области",
            "example": "обл"
          },
          "province": {
            "title": "Область",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Область",
            "example": "Владимирская"
          },
          "districtType": {
            "title": "Тип района",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Тип района",
            "example": "р-н"
          },
          "district": {
            "title": "Район",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Район",
            "example": "Владимирский"
          },
          "cityType": {
            "title": "Тип города",
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Тип города",
            "example": "г"
          },
          "city": {
            "title": "Город",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Город",
            "example": "Пермь"
          },
          "locationType": {
            "title": "Тип населенного пункта",
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Тип населенного пункта",
            "example": "д"
          },
          "location": {
            "title": "Населенный пункт",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Населенный пункт",
            "example": "Ивановка"
          },
          "streetType": {
            "title": "Тип улицы",
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Тип улицы",
            "example": "ул"
          },
          "street": {
            "title": "Улица",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Улица",
            "example": "Ленина"
          },
          "house": {
            "title": "Дом",
            "maxLength": 200,
            "minLength": 1,
            "type": "string",
            "description": "Дом",
            "example": "55"
          },
          "housing": {
            "title": "Корпус",
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Корпус",
            "example": "Б"
          },
          "building": {
            "title": "Строение",
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Строение",
            "example": "2"
          },
          "apartmentNumber": {
            "title": "Квартира/офис",
            "maxLength": 200,
            "minLength": 1,
            "type": "string",
            "description": "Квартира/офис",
            "example": "5А"
          },
          "kladr": {
            "title": "КЛАДР",
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "КЛАДР",
            "example": "59000001000059100"
          },
          "okato": {
            "title": "ОКАТО",
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "ОКАТО",
            "example": "45268569000"
          },
          "addressType": {
            "title": "Тип адреса",
            "maxLength": 15,
            "minLength": 1,
            "type": "string",
            "description": "Тип адреса (Юридический/Фактический)",
            "example": "LEGAL",
            "enum": [
              "LEGAL",
              "ACTUAL"
            ]
          }
        },
        "additionalProperties": false,
        "description": "Адрес + тип"
      },
      "Bank": {
        "title": "Банк",
        "required": [
          "bik",
          "corrNumber",
          "name"
        ],
        "type": "object",
        "properties": {
          "bik": {
            "title": "БИК. ",
            "maxLength": 9,
            "minLength": 9,
            "type": "string",
            "description": "БИК. Формат: 9 цифр",
            "example": "040702752"
          },
          "corrNumber": {
            "title": "Корреспондентский счёт",
            "maxLength": 20,
            "minLength": 20,
            "type": "string",
            "description": "Корреспондентский счёт. Формат: 20 цифр",
            "example": "30101810000000000752"
          },
          "name": {
            "title": "Название Банка",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Название Банка",
            "example": "БКС"
          }
        },
        "additionalProperties": false,
        "description": "Банк"
      },
      "BankAccount": {
        "title": "Банковский счет",
        "required": [
          "bank",
          "number"
        ],
        "type": "object",
        "properties": {
          "bank": {
            "$ref": "#/components/schemas/Bank"
          },
          "number": {
            "title": "Номер счета",
            "maxLength": 20,
            "minLength": 20,
            "type": "string",
            "description": "Номер счета. Формат: 20 цифр",
            "example": "34535353535353535353"
          }
        },
        "additionalProperties": false,
        "description": "Банковский счет"
      },
      "BankGuarantee": {
        "title": "Информация по гарантии",
        "required": [
          "bankGuaranteeSum",
          "bankGuaranteeType",
          "beneficiary",
          "endDate",
          "procurement",
          "requiredExecutionDate",
          "startDate"
        ],
        "type": "object",
        "properties": {
          "procurement": {
            "$ref": "#/components/schemas/Procurement"
          },
          "bankGuaranteeSum": {
            "title": "Сумма гарантии",
            "maximum": 9007199254740991,
            "minimum": 0,
            "type": "number",
            "description": "Сумма гарантии",
            "example": 1
          },
          "bankGuaranteeType": {
            "title": "Вид банковской гарантии",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Вид банковской гарантии. TENDER - тендерная гарантия, GOVERNMENT_CONTRACTS_EXECUTION - Обеспечение исполнения обязательств по контракту, ADVANCE_REFUND - Обеспечение на возврат аванса, OBLIGATIONS_EXECUTION - Банковская гарантия на обеспечение гарантийных обязательств, PAYMENT - Гарантия платежа",
            "example": "TENDER",
            "enum": [
              "TENDER",
              "GOVERNMENT_CONTRACTS_EXECUTION",
              "ADVANCE_REFUND",
              "OBLIGATIONS_EXECUTION",
              "PAYMENT"
            ]
          },
          "beneficiary": {
            "$ref": "#/components/schemas/Beneficiary"
          },
          "endDate": {
            "title": "Дата окончания банковской гарантии",
            "maxLength": 10,
            "minLength": 10,
            "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$",
            "type": "string",
            "description": "Дата окончания банковской гарантии. Не может быть ранее текущей даты.",
            "format": "date"
          },
          "requiredExecutionDate": {
            "title": "Желаемая дата выдачи гарантии",
            "maxLength": 10,
            "minLength": 10,
            "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$",
            "type": "string",
            "description": "Желаемая дата выдачи гарантии",
            "format": "date"
          },
          "startDate": {
            "title": "Дата начала банковской гарантии",
            "maxLength": 10,
            "minLength": 10,
            "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$",
            "type": "string",
            "description": "Дата начала банковской гарантии. Не может быть ранее текущей даты. Должна быть меньше даты окончания гарантии",
            "format": "date"
          },
          "parentId": {
            "title": "Идентификатор родительской заявки",
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string",
            "description": "Идентификатор родительской заявки",
            "example": "00000000-0000-0000-0000-000000018c52"
          },
          "annualInterestRate": {
            "title": "Запрошенная ставка комиссии",
            "maximum": 99,
            "minimum": 0,
            "type": "number",
            "description": "Запрошенная ставка комиссии, в % годовых",
            "example": 1
          }
        },
        "additionalProperties": false,
        "description": "Информация по гарантии"
      },
      "Beneficiary": {
        "title": "Данные о бенефициаре",
        "required": [
          "addresses",
          "fullName",
          "inn",
          "ogrn",
          "okopf",
          "okpo",
          "oktmo",
          "okved",
          "shortName"
        ],
        "type": "object",
        "properties": {
          "fullName": {
            "title": "Название",
            "maxLength": 1000,
            "minLength": 1,
            "type": "string",
            "description": "Название",
            "example": "ООО \"ЭЛИТСТРОЙ\""
          },
          "shortName": {
            "title": "Название",
            "maxLength": 500,
            "minLength": 1,
            "type": "string",
            "description": "Название",
            "example": "\"ЭЛИТСТРОЙ\""
          },
          "inn": {
            "title": "ИНН",
            "maxLength": 12,
            "minLength": 10,
            "type": "string",
            "description": "ИНН",
            "example": "7726743680"
          },
          "kpp": {
            "title": "КПП",
            "maxLength": 9,
            "minLength": 9,
            "type": "string",
            "description": "КПП",
            "example": "123456789"
          },
          "ogrn": {
            "title": "ОГРН",
            "maxLength": 15,
            "minLength": 13,
            "type": "string",
            "description": "ОГРН",
            "example": "1147746305761"
          },
          "okopf": {
            "title": "ОКОПФ",
            "maxLength": 5,
            "minLength": 5,
            "type": "string",
            "description": "ОКОПФ",
            "example": "12300"
          },
          "oktmo": {
            "title": "ОКТМО",
            "maxLength": 11,
            "minLength": 8,
            "type": "string",
            "description": "ОКТМО",
            "example": "14532100000"
          },
          "okpo": {
            "title": "ОКПО",
            "maxLength": 10,
            "minLength": 8,
            "type": "string",
            "description": "ОКПО",
            "example": "15419911"
          },
          "okved": {
            "title": "ОКВЭД",
            "maxLength": 8,
            "minLength": 2,
            "type": "string",
            "description": "ОКВЭД",
            "example": "72.19"
          },
          "okvedName": {
            "title": "Наименование ОКВЭД",
            "maxLength": 700,
            "minLength": 1,
            "type": "string",
            "description": "Наименование ОКВЭД",
            "example": "Научные исследования и разработки в области естественных и технических наук прочие"
          },
          "addresses": {
            "maxItems": 1000,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "additionalProperties": false,
        "description": "Данные о бенефициаре"
      },
      "CompanyHead": {
        "title": "Данные о руководителе",
        "required": [
          "id",
          "identityDocument",
          "personData"
        ],
        "type": "object",
        "properties": {
          "id": {
            "title": "Id",
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string",
            "description": "Id",
            "example": "6f9619ff-8b86-d011-b42d-00cf4fc964ff"
          },
          "personData": {
            "$ref": "#/components/schemas/PersonData"
          },
          "identityDocument": {
            "$ref": "#/components/schemas/IdentityDocument"
          },
          "authorizingDoc": {
            "title": "Основание полномочий",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Основание полномочий",
            "example": "Устав"
          },
          "contacts": {
            "maxItems": 1000,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactData"
            }
          }
        },
        "additionalProperties": false,
        "description": "Данные о руководителе"
      },
      "CompanyInfo": {
        "title": "Информация об организации",
        "required": [
          "fullName",
          "inn",
          "ogrn",
          "okfs",
          "okopf",
          "okpo",
          "okved",
          "orgType",
          "regDate",
          "shortName"
        ],
        "type": "object",
        "properties": {
          "fullName": {
            "title": "Название",
            "maxLength": 1000,
            "minLength": 1,
            "type": "string",
            "description": "Название",
            "example": "ООО \"ЭЛИТСТРОЙ\""
          },
          "shortName": {
            "title": "Название",
            "maxLength": 500,
            "minLength": 1,
            "type": "string",
            "description": "Название",
            "example": "ООО \"ЭЛИТСТРОЙ\""
          },
          "orgType": {
            "title": "Тип организации",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Тип организации",
            "example": "UL",
            "enum": [
              "UL",
              "IP"
            ]
          },
          "okopf": {
            "title": "ОКОПФ",
            "maxLength": 5,
            "minLength": 5,
            "type": "string",
            "description": "ОКОПФ",
            "example": "15000"
          },
          "okfs": {
            "title": "ОКФС",
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "ОКФС",
            "example": "16"
          },
          "okpo": {
            "title": "ОКПО",
            "maxLength": 10,
            "minLength": 8,
            "type": "string",
            "description": "ОКПО",
            "example": "15419911"
          },
          "okved": {
            "title": "ОКВЭД",
            "maxLength": 8,
            "minLength": 2,
            "type": "string",
            "description": "ОКВЭД",
            "example": "72.19"
          },
          "okvedName": {
            "title": "Наименование ОКВЭД",
            "maxLength": 700,
            "minLength": 1,
            "type": "string",
            "description": "Наименование ОКВЭД",
            "example": "Научные исследования и разработки в области естественных и технических наук прочие"
          },
          "inn": {
            "title": "ИНН",
            "maxLength": 12,
            "minLength": 10,
            "type": "string",
            "description": "ИНН",
            "example": "7726743680"
          },
          "kpp": {
            "title": "КПП",
            "maxLength": 9,
            "minLength": 9,
            "type": "string",
            "description": "КПП",
            "example": "123456789"
          },
          "ogrn": {
            "title": "ОГРН",
            "maxLength": 15,
            "minLength": 13,
            "type": "string",
            "description": "ОГРН",
            "example": "1147746305761"
          },
          "regDateBefore01072002": {
            "title": "Дата регистрации, до 01 июля 2002 г.",
            "maxLength": 10,
            "minLength": 10,
            "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$",
            "type": "string",
            "description": "Дата регистрации, до 01 июля 2002 г. Заполнить, если дата регистрации, до 01 июля 2002 г.",
            "format": "date"
          },
          "regDate": {
            "title": "Дата регистрации",
            "maxLength": 10,
            "minLength": 10,
            "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$",
            "type": "string",
            "description": "Дата регистрации",
            "format": "date"
          }
        },
        "additionalProperties": false,
        "description": "Информация об организации"
      },
      "ContactData": {
        "title": "Контактные данные",
        "required": [
          "email",
          "phone"
        ],
        "type": "object",
        "properties": {
          "email": {
            "title": "E-mail",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "E-mail",
            "example": "test_email@test.my"
          },
          "phone": {
            "title": "Телефон",
            "maxLength": 16,
            "minLength": 12,
            "pattern": "^\\+7([(]?(\\d){3,4}[)]?\\d{2,3}-?\\d{2}-?\\d{2}$)",
            "type": "string",
            "description": "Телефон",
            "example": "+7(123)456-78-90"
          }
        },
        "additionalProperties": false,
        "description": "Контактные данные (телефон, email)"
      },
      "ContactPerson": {
        "title": "Контактное лицо по гарантиям.",
        "required": [
          "contact",
          "firstName",
          "lastName"
        ],
        "type": "object",
        "properties": {
          "lastName": {
            "title": "Фамилия",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Фамилия",
            "example": "Игнатов"
          },
          "firstName": {
            "title": "Имя",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Имя",
            "example": "Александр"
          },
          "secondName": {
            "title": "Отчество",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Отчество",
            "example": "Андреевич"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactData"
          }
        },
        "additionalProperties": false,
        "description": "Контактное лицо по гарантиям."
      },
      "DetachedSignature": {
        "title": "Открепленная подпись",
        "required": [
          "signature"
        ],
        "type": "object",
        "properties": {
          "signature": {
            "title": "Подпись",
            "maxLength": 15000,
            "minLength": 1,
            "type": "string",
            "description": "Подпись",
            "example": "77u/ZmlsZTE="
          }
        },
        "additionalProperties": false,
        "description": "Открепленная подпись"
      },
      "FileUpload": {
        "title": "Документы для заявки на получение банковской гарантии",
        "required": [
          "detachedSignature",
          "externalDocumentId",
          "fileName",
          "group",
          "objectId",
          "type"
        ],
        "type": "object",
        "properties": {
          "objectId": {
            "title": "Id",
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string",
            "description": "Id",
            "example": "6f9619ff-8b86-d011-b42d-00cf4fc964ff"
          },
          "detachedSignature": {
            "$ref": "#/components/schemas/DetachedSignature"
          },
          "externalDocumentId": {
            "title": "Идентификатор загружаемого документа",
            "maxLength": 36,
            "minLength": 36,
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "type": "string",
            "description": "Идентификатор загружаемого документа. Формируется партнером",
            "example": "6f9619ff-8b86-d011-b42d-00cf4fc964ff"
          },
          "fileName": {
            "title": "Имя передаваемого документа",
            "maxLength": 255,
            "minLength": 1,
            "pattern": "^[А-ЯЁа-яё\\w\\s-]+(\\(\\d+\\))*\\.[A-Za-z\\w]{1,4}$",
            "type": "string",
            "description": "Имя передаваемого документа",
            "example": "report20201225.xls"
          },
          "group": {
            "title": "Группа документа",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Группа документа",
            "example": "PERSON",
            "enum": [
              "PERSON",
              "COMPANY",
              "GUARANTEE"
            ]
          },
          "type": {
            "title": "Тип документа",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Тип документа. PASSPORT - паспорт, CORPORATE_CHARTER - устав, QUARTERLY_FINANCIAL_REPORT - квартальная отчетность, ANNUAL_FINANCIAL_REPORT - годовая отчетность, SHAREHOLDER_REGISTRY_EXTRACT - выписка из реестра акционеров, APPLICATION - заявление на банковскую гарантию, GUARANTEE_DOCX - проект гарантии в формате .docx, GUARANTEE_PDF - проект гарантии в формате .pdf, GUARANTEE_BANK_SIGNATURE - документ подписи сотрудника к гарантии, GUARANTEE_OFFER_DOCX - оферта в формате .docx, GUARANTEE_OFFER_PDF - оферта в формате .pdf, GUARANTEE_OFFER_BANK_SIGNATURE - документ подписи сотрудника к оферте, QUESTIONNAIRE_COMPANY - вопросник принципала (ЮЛ/ИП), QUESTIONNAIRE_PERSON - вопросник бенефициарного владельца (ФЛ), OTHER - прочий документ, ACCESSION_CONVENTION - заявление о присоединении – заполняется только один раз при первичном обращении, ORDER_APPOINTMENT_POSITION - копия решения и приказа о назначении на должность исполнительного органа, DEAL_SIZE_APPROVEMENT - документ одобрения крупной сделки, CONTRACT_CONCLUDED - заключённый договор, PROCUREMENT_DOCUMENTATION - документация по закупке, GUARANTEE_PROJECT_PDF - проект гарантии в формате .pdf, PROCUREMENT_DOCUMENTATION - документация по закупке",
            "example": "GUARANTEE_DOCX",
            "enum": [
              "PASSPORT",
              "CORPORATE_CHARTER",
              "QUARTERLY_FINANCIAL_REPORT",
              "ANNUAL_FINANCIAL_REPORT",
              "SHAREHOLDER_REGISTRY_EXTRACT",
              "APPLICATION",
              "GUARANTEE_DOCX",
              "GUARANTEE_PDF",
              "GUARANTEE_BANK_SIGNATURE",
              "GUARANTEE_OFFER_DOCX",
              "GUARANTEE_OFFER_PDF",
              "GUARANTEE_OFFER_BANK_SIGNATURE",
              "QUESTIONNAIRE_COMPANY",
              "QUESTIONNAIRE_PERSON",
              "OTHER",
              "ACCESSION_CONVENTION",
              "ORDER_APPOINTMENT_POSITION",
              "DEAL_SIZE_APPROVEMENT",
              "CONTRACT_CONCLUDED",
              "PROCUREMENT_DOCUMENTATION",
              "GUARANTEE_PROJECT_PDF"
            ]
          }
        },
        "additionalProperties": false,
        "description": "Документы для заявки на получение банковской гарантии"
      },
      "FinancialReport": {
        "title": "Бух. отчетность. Значения ожидаются в рублях",
        "required": [
          "b1100",
          "b1110",
          "b1150",
          "b1200",
          "b1210",
          "b1230",
          "b1300",
          "b1410",
          "b1510",
          "b1520",
          "b1600",
          "b1700",
          "b2100",
          "b2110",
          "b2120",
          "b2300",
          "b2330",
          "b2400",
          "dateEnd",
          "dateStart"
        ],
        "type": "object",
        "properties": {
          "dateStart": {
            "title": "Дата начала",
            "maxLength": 7,
            "minLength": 7,
            "pattern": "^[0-9]{4}-[0-9]{2}$",
            "type": "string",
            "description": "Дата в формате 'гггг-мм' (где гггг - год, мм - последний месяц квартала)",
            "format": "date"
          },
          "dateEnd": {
            "title": "Дата окончания",
            "maxLength": 7,
            "minLength": 7,
            "pattern": "^[0-9]{4}-[0-9]{2}$",
            "type": "string",
            "description": "Дата в формате 'гггг-мм' (где гггг - год, мм - последний месяц квартала)",
            "format": "date"
          },
          "b1100": {
            "title": "ВНЕОБОРОТНЫЕ АКТИВЫ. Итого по разделу I",
            "maximum": 9007199254740991,
            "minimum": -9007199254740991,
            "type": "number",
            "description": "ВНЕОБОРОТНЫЕ АКТИВЫ. Итого по разделу I",
            "example": 0
          },
          "b1110": {
            "title": "ВНЕОБОРОТНЫЕ АКТИВЫ. Нематериальные активы",
            "maximum": 9007199254740991,
            "minimum": -9007199254740991,
            "type": "number",
            "description": "ВНЕОБОРОТНЫЕ АКТИВЫ. Нематериальные активы",
            "example": 0
          },
          "b1120": {
            "title": "ВНЕОБОРОТНЫЕ АКТИВЫ. Результаты исследований и разработок",
            "maximum": 9007199254740991,
            "minimum": -9007199254740991,
            "type": "number",
            "description": "ВНЕОБОРОТНЫЕ АКТИВЫ. Результаты исследований и разработок",
            "example": 0
          },
          "b1130": {
            "title": "ВНЕОБОРОТНЫЕ АКТИВЫ. Нематериальные поисковые активы",
            "maximum": 9007199254740991,
            "minimum": -9007199254740991,
            "type": "number",
            "description": "ВНЕОБОРОТНЫЕ АКТИВЫ. Нематериальные поисковые активы",
            "example": 0
          },
          "b1140": {
            "title": "ВНЕОБОРОТНЫЕ АКТИВЫ. Материальные поисковые активы",
            "maximum": 9007199254740991,
            "minimum": -9007199254740991,
            "type": "number",
            "description": "ВНЕОБОРОТНЫЕ АКТИВЫ. Материальные поисковые активы",
            "example": 0
          },
          "b1150": {
            "title": "ВНЕОБОРОТНЫЕ АКТИВЫ. Основные средства",
            "maximum": 9007199254740991,
            "minimum": -9007199254740991,
            "type": "number",
            "description": "ВНЕОБОРОТНЫЕ АКТИВЫ. Основные средства",
            "example": 0
          },
          "b1160": {
            "title": "ВНЕОБОРОТНЫЕ АКТИВЫ. Доходные вложения в материальные ценности",
            "maximum": 9007199254740991,
            "minimum": -9007199254740991,
            "type": "number",
            "description": "ВНЕОБОРОТНЫЕ АКТИВЫ. Доходные вложения в материальные ценности",
            "example": 0
          },
          "b1170": {
            "title": "ВНЕОБОРОТНЫЕ АКТИВЫ. Финансовые вложения",
            "maximum": 9007199254740991,
            "minimum": -9007199254740991,
            "type": "number",
            "description": "ВНЕОБОРОТНЫЕ АКТИВЫ. Финансовые вложения",
            "example": 0
          },
          "b1180": {
            "title": "ВНЕОБОРОТНЫЕ АКТИВЫ. Отложенные налоговые активы",
            "maximum": 9007199254740991,
            "minimum": -9007199254740991,
[...]
